 @import "config.less";
 @import "mixin.less";
/**
 * font size
 */

.classJ.exlrgt {
    .fontsize(50px);
}
.classJ.lrgt {
    .fontsize(40px);
}
.classJ.exmdt {
    .fontsize(34px);
}
.classJ.mdt {
    .fontsize(26px);
}
.classJ.mdt-md {
    .fontsize(23px);
}
.classJ.mdt-sm {
    .fontsize(20px);
}
.classJ.smt {
    .fontsize(18px);
}





 /**
  *    Color
  */
 
.white{
    color:@white;
}
.black{
    color:@black;
}
.bg-white{
        background:@white;
}
.bg-black{
    background:@black;
}
.red{
    color:@red;
}
.bg-red{
    background:@red;
}
.yellow{
    color:@yellow;
}

.darkGray{
    color:@darkGray;
}
.bg-darkGray{
    background:@darkGray;
}
.gray{
    color:@gray;

}
.bg-gray{
    background:@gray;
}
.brown{
    color:@brown;
}
.lightbrown{
    color:@lightbrown;
}
.darkbrown{
    color:@darkbrown;
}
.bg-brown{
    background:@brown;
}
.pink{
    color: @pink;
}
.pinkred{
    color: @pinkred;
}
.bg-pink {
    background: @pink;
}
.bg-pink-light {
    background: lighten(@pink , 30%);
}
.green{
 color: @green;   
}
.bg-green {
    background: @green;
}
.bg-green-light {
    background: lighten(@green, 30%);
}

.lightblue{
    color:@lightBlue;
}
.bg-lightblue{
    background:@lightBlue;
}
.blue{
    color:@blue;
}


 .contain-maxwidth(@mw) {
     margin: 0 auto;
     width: 100%;
     max-width: @mw;
 }
 .classJ.container-max {
    .contain-maxwidth(100%);
 }
.classJ.contain-1300 {
     .contain-maxwidth(1300px);
 }
.classJ.contain-1200 {
     .contain-maxwidth(1200px);
 }
.classJ.contain-1100 {
     .contain-maxwidth(1100px);
 }
 .classJ.contain-1000 {
     .contain-maxwidth(1000px);
 }
 .classJ.contain-600 {
     .contain-maxwidth(600px);
 }
 .classJ.contain-550 {
     .contain-maxwidth(550px);
 }
.classJ.contain-500 {
     .contain-maxwidth(500px);
 }


 .input-inv{
     -webkit-appearance: none;
     background: none;
     outline: none;
     appearance: none;
     box-shadow: none;
     border-radius: none;
     border: none;
 }

 .bg-reject{
    background:#d93b33;
 }
 .bg-giveup{
    background:#f2ae57;
 }
 .bg-proposal{
    .bg-darkGray;
 }
 .bg-approve{
    background:#5cb85c;
 }
 .bg-hostpropose{
    background:#5bc0de;
 }
 .bg-non-vote{
    background:#777;
 }


 input[type="text"], input[type="number"], input[type="tel"] {
     
     -webkit-appearance: none;
     background: none;
     outline: none;
     appearance: none;
     box-shadow: none;
     border-radius: none;
     border: none;
 }

 textarea {
     border: none;
     .border-radius(0px);
     padding: 10px;
     width: 100%;
     height: 150px;
     
 }

 input[type="range"] {
     -webkit-appearance: none;
     /* 限定範圍 */
     width: 180px;
     height: 3px;
     outline: none;
     /* 避免點選會有藍線或虛線 */
     background: #333;
 }

 input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     position: relative;
     /* 設為相對位置，為了前後區塊的絕對位置而設定 */
     width: 15px;
     height: 15px;
     background: #444;
     border-radius: 50%;
     transition: .2s;
     /* 點選放大時候的漸變時間 */
 }
 /* Base for label styling */

 // [type="checkbox"]:not(:checked),
 // [type="checkbox"]:checked {
 //     position: absolute;
 //     left: -9999px;
 // }

 // [type="checkbox"]:not(:checked)+label,
 // [type="checkbox"]:checked+label {
 //     position: relative;
 //     padding-left: 37px;
 //     cursor: pointer;
 // }
 // /* checkbox aspect */

 // [type="checkbox"]:not(:checked)+label:before,
 // [type="checkbox"]:checked+label:before {
 //     content: '';
 //     position: absolute;
 //     left: 0;
 //     top: 0;
 //     width: 28px;
 //     height: 28px;
 //     .setBorderStyle(2px, @darkGold);
 //     background: #fff;
 //     border-radius: 0px;
 //     // box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
 // }
 // /* checked mark aspect */

 // [type="checkbox"]:not(:checked)+label:after,
 // [type="checkbox"]:checked+label:after {
 //     content: '✔';
 //     position: absolute;
 //     top: 5px;
 //     left: 0px;
 //     font-size: 20px;
 //     line-height: 20px;
 //     color: #000;
 //     /*transition: all .2s;*/
 // }
 // /* checked mark aspect changes */

 // [type="checkbox"]:not(:checked)+label:after {
 //     opacity: 0;
 //     transform: scale(0);
 // }

 // [type="checkbox"]:checked+label:after {
 //     opacity: 1;
 //     transform: scale(1);
 // }

 select {
     background: none;
     outline: none;
     appearance: none;
     // box-shadow: none;
     // border-radius: none;
     border: none;
     background-image: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     
     &:focus {}
     &::-ms-expand {
    display: none;
    }
 }
.slick-arrow {
    z-index:10;
       
}
.slick-prev:before {
        content: "";
        font-family: FontAwesome;
        padding: 5px 10px;
        color: #000;
        position: absolute;
        font-size: 22px;
       
        left: 20%;
    }
    .slick-next:before {
        content: "";
        font-family: FontAwesome;
        padding: 5px 10px;
        color: #000;
        position: absolute;
        font-size: 22px;
       
        right: 20%;
    }


.hover-grad{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,ffffff+48,ffffff+100&0+14,1+49,0+84 */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 1%, rgba(255,255,255,0) 14%, rgba(255,255,255,0.97) 48%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 14%,rgba(255,255,255,0.97) 48%,rgba(255,255,255,1) 49%,rgba(255,255,255,0) 84%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 14%,rgba(255,255,255,0.97) 48%,rgba(255,255,255,1) 49%,rgba(255,255,255,0) 84%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.d-inline-block{
    display: inline-block;
}
.grad {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1bf89+0,e8ddbf+100 */
    background: #d1bf89;
    background: -moz-linear-gradient(left, #d1bf89 0%, #e8ddbf 100%);
    background: -webkit-linear-gradient(left, #d1bf89 0%, #e8ddbf 100%);
    background: linear-gradient(to right, #d1bf89 0%, #e8ddbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1bf89', endColorstr='#e8ddbf', GradientType=1);
}
.text-glow {
    text-shadow: 0px 0px 30px #fff,  0px 0px 10px #fff;
}
.text-glow-strong{
    text-shadow: 0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,
                    0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,
                    0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,
                    0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,
                    0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,
                    0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff;
}
.z0 {
    z-index: 1
}
.z1 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.z5 {
    z-index: 5;
}
.z6 {
    z-index: 6;
}
.z7 {
    z-index: 7;
}
.z8 {
    z-index: 8;
}
.z9 {
    z-index: 9;
}
.z10 {
    z-index: 10;
}
.of-h{
        overflow: hidden;
    }
.pointer{
    cursor: pointer;
}
