/////////////
/*PARAMETER*/
/////////////
@fontfamilyDaty:'Helvetica_EXP',"daty9",'Noto Sans TC';
@fontfamily: 'Noto Sans TC','Microsoft JhengHei', 'Heiti TC','LiHei Pro' , arial, sans-serif;
// @fontfamily2:'Heiti TC','LiHei Pro' , arial, sans-serif;
@fontfamilyHei: 'Noto Sans TC','Microsoft JhengHei', 'Heiti TC','LiHei Pro' , arial, sans-serif;
@fontfamilyeng :  'Helvetica_EXP', 'Nunito','Noto Serif TC',sans-serif,arial ;

/*@view_width:100%;;*/
@view_width:100%;
@width-threshold:767px;
@brand-color:#100964;
@bg-color:#d3cfad;
@footer-bg-color:#231815;
@btn-color:#d51d48;
@txtGray :#7d7d7d;
@pink:#f487a3;
@lightGreen:#49ff4b;
@green:#248e03;
@darkGreen:#1b723e;
@yellow:#d1be94;
@lightBlue:#858daf;
@blue:#123e97;
@darkBlue:#0a1a5f;
@black:#000;
@red:#c41726;
@orange:#ef7a23;
@white:#fff;
@lightGray:#bbb;
@gray:#686868;
@darkGray:#3b3b3b;
@brown:#704327;
@darkbrown:darken(#745444,10%);
@lightbrown:#fdf4ea;
@lightgold:#ebe2ac;
@gold:#fbf0cd;
@darkGold:#bba35c;
@deepGold:#493d17;
@gamered:#f80000;
@gameblack:#020100;
@gameblue:#1a84f7;
@gameyellow:#fdd224;

@wood:#850000;
@pinkred:#cc1e4d;
@pink:#e1928b;


@j-break-point:576px;
@j-custom-xs-point:700px;
@purple:#314369;

@j-break-xs-point:576px;
@j-break-sm-point:768px;
@j-break-md-point:992px;
@j-break-lg-point:1200px;