- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
- var pageTitle = "【大人的床上遊戲-激潤之戰】，全新玩法再度high翻夜晚！"
- var fb_appId = ""
- var kws = ""
- var desc = "現在買durex超薄勁潤裝，就送限量遊戲套組！"
- var og_title = "【大人的床上遊戲-激潤之戰】，全新玩法再度high翻夜晚！"
- var og_desc = "現在買durex超薄勁潤裝，就送限量遊戲套組！"
- var og_url = ""
- var og_img = "https://durex-bedgame2.medialand.com.tw/img/meta_website.jpg"
- var vp_setting = "width=750 , user-scalable=0"
- var fav_url = "https://durex-bedgame2.medialand.com.tw/img/favicon.ico"

    title= pageTitle
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="keywords", content= kws)
    meta(name="description", content= desc)
    meta(property="og:title", content= og_title)
    meta(property="og:description", content= og_desc)
    meta(property="og:type" ,content="website")
    meta(property="fb:app_id", content= fb_appId)
    meta(property="og:image", content= og_img)
    meta(name="viewport", content= vp_setting)
    link(rel="shortcut icon", href= fav_url)
    link(rel="stylesheet" , href="lib/css/bootstrap.min.css")
    link(rel="stylesheet" , href="lib/css/font.css")
    // |<link href='//fonts.googleapis.com/css?family=helvetica:700' rel='stylesheet' type='text/css'>
    
    