script(src="./lib/gsap.min.js")
script(src="./lib/EasePack.min.js")
script(src="./lib/EaselPlugin.min.js")
script(src="./lib/CSSRulePlugin.min.js")
script(src="./lib/MorphSVGPlugin.min.js")
script(src="./lib/intersection-polyfill.js")
script(src="./lib/youtubeiframeapi.js")
|<script src="//polyfill.io/v3/polyfill.min.js?features=default"></script>
script.
    var ____route,onYouTubeIframeAPIReady ;
    //- var vConsole = new VConsole();