- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
if !devMode
	|<!-- Global site tag (gtag.js) - Google Analytics -->
	|<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181129287-1"></script>
	|<script>
	|  window.dataLayer = window.dataLayer || [];
	|  function gtag(){dataLayer.push(arguments);}
	|  gtag('js', new Date());
	|  gtag('config', 'UA-181129287-1');
	|</script>
