<script>
import Navigation from '@/component/Navigation';
import Footer from '@/component/Footer';
import Loading_page from '@/component/Loading_page.vue';
import Loading_pageajax from '@/component/Loading_page-ajax.vue';

import popConfirm from '@/component/popConfirm';
import popHint from '@/component/popHint';
import popPoseHint from '@/component/popPoseHint';
import popKol from '@/component/popKol';
import {config} from '@/util/config';
import {jquery} from 'jquery';
import utils from '@/util/utils';
let $ = require('jquery');
let NAME = '.app'
export default {
  data() {
    return {

      
      expolink:config.expolink,

      joy1link:config.joy1link,
    }
  },
  computed: {
  },
  methods: {
    tracklinks(){
        let self = this;
        let dom = $(NAME)
        this.$nextTick(()=>{
           
          $('a.btn-side.tracklink').each(function(){
             
            $(this).off('click').click(function(e){
               
              e.preventDefault();
              let target = $(this).attr('target');
                    let href = $(this).attr('href');
              let tag = $(this).data('ga');
              try{
                utils.gTagEvent('index', 'click' ,  tag ); 
              }catch(err){}
              
            
            if (target === '_blank') {            
              window.open(href, target);
            } else {
              setTimeout(function() { window.open(href, '_self'); }, 300)
            }
            })
          })


        })
      }
  },
  mounted() {
     // ASYNCLOAD('//fonts.googleapis.com/earlyaccess/cwtexyen.css');
     ASYNCLOAD('//fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,700&display=swap');
     // ASYNCLOAD('//fonts.googleapis.com/css?family=Nunito:wght@900&display=swap');

     // if(config.offlineDate.getTime() < (new Date()).getTime()){
     //        alert(config.warning);
     //        location.href=config.official;
     //        return;
     // }

     this.tracklinks();


     function ASYNCLOAD(src) {

    var cb = function() {
        var a = document.createElement('link');
        a.rel = 'stylesheet';
        a.href = src;
        var z = document.getElementsByTagName('head')[0];
        z.parentNode.insertBefore(a, z);
    };
    cb();

    }



  },
  components: {
    Navigation,Footer,Loading_page,Loading_pageajax,popConfirm,popHint,popPoseHint,popKol

  },
};
</script>
<style lang="less" src="~/css/all.less"></style>

<template lang="pug">
.app#app
  .relat.app_c
    Navigation
    
    main
      transition(name="fade" mode="out-in" )
        router-view.view
    Footer
    popHint
    popPoseHint
    popConfirm
    popKol
  //- popEnd
  Loading_pageajax
  Loading_page

</template>
