<script>

import utils from '@/util/utils';
import {jquery} from 'jquery';

import { config } from '@/util/config';
let $ = require('jquery');
let NAME = '.footer'
export default {
	data() {
		return {

			fblink:config.fblink,
			iglink:config.iglink,
			linelink:config.linelink,
			expolink:config.expolink,
		}
	},
	computed: {
		type1(){

			if(this.$route.name == 'index'){
				return false;
			}else{
				return true;
			}
			
		}
	},
	watch:{
		$route(to, from) {
			
			switch(to.name){
				case "intro":
					this.togglePad(true)
				break;
				default:

					this.togglePad(false)
				break;
			}
		},
	},
	beforeDestroy() {
	},
	methods:{
		bind(){
			let self = this;
			let dom = $(NAME)
			dom.find('.btns').off('click').click(function(){
				// console.log('click pad')
				
				self.$router.push('/buy');
				utils.gTagEvent('index', 'click' ,'buy'  );
			})
		},
		togglePad(act){
			let self = this;
			let dom = $(NAME)
			if(!act){
				TweenMax.to(dom , .3, {bottom:-100});
				TweenMax.to(dom.find('.btns') , .3 , {opacity:0})
				dom.find('.btns').off('click')
			}else{
				TweenMax.to(dom , .3, {delay : 1 , bottom:0});
				TweenMax.to(dom.find('.btns') , .3 , {delay : 1 ,opacity:1})
				this.bind();
			}
		},
		tracklinks(){
    		let self = this;
    		let dom = $(NAME)
    		this.$nextTick(()=>{
    			 
    			dom.find('a.tracklink').each(function(){
    				 
    				$(this).off('click').click(function(e){
    					 
    					e.preventDefault();
    					let target = $(this).attr('target');
                		let href = $(this).attr('href');
    					let tag = $(this).data('ga');
    					try{
    						utils.gTagEvent('footer', 'click' ,  tag );	
    					}catch(err){}
    					
						
						if (target === '_blank') {						
							window.open(href, target);
						} else {
							setTimeout(function() { window.open(href, '_self'); }, 300)
						}
    				})
    			})


    		})
    	}
	},
	mounted(){
		let dom = $(NAME)
		let count = 0;
		dom.find('.baby').each(function(){
					let k = (count %2 ==0)? -1:1;
					TweenMax.fromTo($(this) , .8 , {rotation:-2.5 * k , transformOrigin:"50% 90%"} , {delay:.2 *count ,rotation:2.5 *k, transformOrigin:"50% 90%", yoyo:true,  repeat:-1 , ease:Sine.easeInOut});
					count ++;
		});

		this.tracklinks();
		this.bind();
		TweenMax.fromTo(dom.find('.arr'), .1, { y:-5} , {y:0 ,repeatDelay:.3, yoyo:true ,repeat:-1, ease:Sine.easeInOut})
	},
	components: {
	},
};
</script>
<template lang="pug">
.footer.fix
	.container-fluid.relat.text-center
		.18X.text-right.w-100.py-3.px-4
			img(src="img/18X.png")
		.btns.relat.mx-auto
			
			.bg-pad.abs
			.pad.abs
				img(src="img/package.png")
			.t.relat.mx-3
				.h1.relat.bold.yellow.hei.text-right
					span.bold.small 遊戲墊哪裡買 ?
					img.arr.relat.px-4(src="img/ico-up-arr.png")

</template>

<style lang="less">
@import '../css/base/config.less';
@import "../css/base/mixin.less";
@import "../css/base/common.less";
.footer{
		width:750px;
		margin:0 auto;
		bottom:-100px;
		left:calc(~"50% - 375px");
		z-index:12;
		.container-fluid{
			margin:0 auto;
			padding:10px 0;
			// letter-spacing:0px;
			a {
				color:#fff;
   				&:link,
   				&:hover,
   				&:active,
    			&:visited ,&:focus{
        			text-decoration:none;
        			color:#fff;
    			}
			}
			.btns{
				width:710px;
				height:98px;
				opacity:0;
				cursor:pointer;
				.bg-pad{
					width: 100%;
					height:calc(~"100% + 20px");
					background:#000b38;
					bottom:-20px;
					border-radius:20px;
				}
				.t{
					.h1{
						line-height:100px;
					}
					
				}
				.pad{
					left:10%;
					bottom:-10px;
				}
			}
		}
		
}
</style>

