<script>
// import { TweenMax,Linear ,Sine , Expo,Back,Elastic,Cubic} from 'gsap';
import { mapActions, mapMutations,mapGetters } from 'vuex';
// import  axios  from 'axios';
import { config } from '@/util/config';
import {jquery} from 'jquery';
import { imagesloaded } from 'imagesloaded';
import utils from '@/util/utils';

let $ = require('jquery');
let NAME = 'nav';
export default {
	data: () => ({
	 	official:config.official,
	}),
	computed: {
		 ...mapGetters(['gotoLevel']),
	},
	watch:{
		$route(to, from) {
			switch(to.name){
				case "gallery":
				case "custom":
				case "choice":
				case "buy":
				case "game":
				case "detail":
					this.toggle(true)
				break;
				default:
				
					this.toggle(false)
				break;
			}

			this.bind(to.name);
		},
	},
	methods:{
		bind(typ){
			let self = this;
			let dom = $(NAME);
			dom.find(".back").off('click').click(function(){
				
				switch(typ){
					case 'custom':
						{
							utils.gTagEvent('start', 'click' ,'back' );
							self.$store.state.confirming = true;
						}
					break;

					case 'detail':
						{
							let label = config.posesGa[self.gotoLevel-1];
							utils.gTagEvent(label , 'click' ,  'back' );
							self.$router.push('game');
						}
						
						
					break;
					case 'game':
					case 'gallery':
						if(typ=='game'){
							utils.gTagEvent('18poses', 'click' ,'back' );
						}else{
							utils.gTagEvent('createpose', 'click' ,'back' );
						}
						self.$router.push('choice');
					break;
					case 'choice':
					case 'buy':
						self.$router.push('intro');
		
					break;
					case 'index':
					case 'intro':
					break;
				}
			})	

			dom.find('.logo').off('click').click(function(){
				switch(typ){
					// case 'custom':
					// 	self.$store.state.confirming = true;
					// break;
					default:
						self.$router.push('index');
					break;
				}
				
			})
		},
		toggle(act){
			let dom = $(NAME)
			if(!act){
				
				TweenMax.to(dom.find('.logo') , .3 , {opacity:0 , left:-150 , ease:Cubic.easeOut})
				TweenMax.to(dom.find('.back') , .3 , {opacity:0 , right:-150, ease:Cubic.easeOut})
			}else{
				TweenMax.to(dom.find('.logo') , .3 , {opacity:1 , left:0, ease:Cubic.easeOut})
				TweenMax.to(dom.find('.back') , .3 , {opacity:1 ,right:0, ease:Cubic.easeOut})
			}
		},
		tracklinks(){
			let dom = $(NAME)
    		let self = this;
    		this.$nextTick(()=>{
    			dom.find('a.tracklink').each(function(){
    				$(this).off('click').click(function(e){
    					e.preventDefault();
    					let target = $(this).attr('target');
                		let href = $(this).attr('href');
    					let tag = $(this).data('ga');
    					try{
    						utils.gTagEvent('nav', 'click' ,  tag );
    					}catch(err){

    					}
    					
						if (target === '_blank') {
							window.open(href, target);
						} else {
							setTimeout(function() { window.open(href, '_self');}, 300);
						}
    				})
    			})
    		})
    	}
	},
	beforeMounted(){

	},
	mounted() {
		this.tracklinks();
		

	},
	beforeDestroy() {
	},
	components: {
	},
};
</script>
<template lang="pug">
nav.navbar.navbar-fixed-top
	.logo.relat()
		img.img-fluid(src="img/logo.png")
	.abs.back
		img.ico.relat(src="img/_.png")
		span.h4.eng.yellow BACK
</template>
<style lang="less" scoped>
nav{
	overflow:hidden;
}
.logo{
	width:125px;
	margin:20px;
	left:-150px;
	cursor:pointer
}
.back{
	right:-150px;
	top:0;
	margin:30px 40px;
	cursor:pointer;
	.ico{
		top:-5px;
		padding:0 10px;
	}
}
</style>

