<script>



export default {
	
};


</script>
<template lang="pug">
			div.ruledetail
				.flag
					.white.text-center
						.br-30.py-0.px-3.d-inline-block.bg-purple 雀巢1000天營養計畫
				.tit.my-4.mx-auto.relat.text-center
					img(src="img/rule-tit.png")
					- var n = 1
						while n < 3
							.abs.stary(class="stary" + n++)
								img(src="img/star-y.png")

				.para.blue.hei
					.text-left.mb-4.mb-md-3  
						span 凡參加雀巢能恩3【
						span.orange 能恩史上第一次會員專屬免費試喝
						span 】專屬之網路活動(以下簡稱本活動)前，煩請詳細閱讀本活動之活動方式、參加與得獎注意事項、個人資料蒐集及特別聲明，以維護您的權益。

				.para.blue
					.h2.relat
						.small.bold 活動方式
						.line.abs
							img(src="img/text-under.png")
					.hei.text-left.mb-4.mb-md-3.orange 即日起至2020/10/31(六)，參與活動完成網頁互動，並填寫資料，即可領取能恩3試用罐！
				

				.para.blue
					.h2.relat
						.small.bold 其他注意事項
						.line.abs
							img(src="img/text-under.png")


					ul.mb-4.mb-md-3.hei(style="list-style-type:decimal;")
						li 參加者於參加本活動之同時，即視為同意接受本活動之活動方式、特別聲明、活動辦法及注意事項(包含但不限於上傳照片及著作權說明)、雀巢隱私保護原則之規範。如有違反前述任一文件之情事，主辦單位(即台灣雀巢股份有限公司，以下簡稱主辦單位)取消其得獎資格，並對於任何破壞本活動之行為採取法律途徑。 
						li 參加本活動之申請者以成功參加一次為限。
						li 所有參加者資格須經主辦單位查驗合格方為有效，一切查驗標準以主辦單位為準，並為唯一憑據。
						li 本活動僅限於設籍於台灣、金門、澎湖、馬祖等台灣外島地區者參加，且需於本活動日期前即年滿20歲。
						li 一旦發現有蓄意攻擊本活動相關網站或本活動之程式、或有使用該等程式之參加者、或以任何方式擾亂本活動公平原則之行為(包括但不限於以任何方式導致系統異常或竄改網站程式機制而影響活動結果)，該參加者之參加視為無效，並主辦單位有權取消該參加者之參加紀錄與試用資格。
						li 參與者保證所有填寫、提出之個人資料均為真實且正確，如有不實或不正確之情事，將被取消得獎資格，且如有致生損害於主辦單位或其他任何第三人，應負一切民刑事責任。主辦單位對於任何不實或不正確之資料不負任何法律責任。
						li 本活動因故無法進行時，主辦單位有權決定取消、終止、修改或暫停本活動且不須做出任何事前之通知。
						li 其他未盡事宜，悉依主辦單位相關規定。主辦單位保留及擁有本活動所有之內容刊登之權利。
						li 主辦單位保有最後得獎審核與變更等值產品之權利。
						li 所有偽造之資料、未於時間內回覆或未依本網站活動辦法填寫之個人資訊，皆視為該參加者放棄得獎權利。
						li 本活動參加者不得以公司或機構團體名義參加。主辦單位及其員工、經銷商、相關配合廠商、廣告公司皆不得參加本活動。
						li 
							span.orange 本活動優惠僅限一次性使用，轉發無效，不可重複領取。數量有限，兌完為止。
						li 客服專線：<a href="tel:0809-000-288">0809-000-288</a>
						li 洽詢時間：週一至週四上午08:30-12:30/下午13:30-18:00，週五上午09:00-12:30/下午13:30-17:00(例假日或非上班時間請留言至語音系統)
						li 活動客服信箱：<a href="mailto:event@inspiredigital.com.tw">event@inspiredigital.com.tw</a>
				.para.blue
					.h2.relat
						.small.bold 個人資料蒐集及特別聲明
						.line.abs
							img(src="img/text-under.png")
					ul.mb-4.mb-md-3.hei(style="list-style-type:decimal;")
						li 本活動參加者本人僅提供之姓名、電話、電子信箱、寶寶生日等個人資料，以參加由台灣雀巢股份有限公司所辦理之活動，同意台灣雀巢股份有限公司及創異數位以其所委託從事產品推廣、銷售、客戶服務、市場調查之人員、公司、機構或團體，得為推廣、銷售台灣雀巢股份有限公司所製造、進口、推廣、銷售之產品或服務之範圍內，蒐集、處理及利用本人之下列個人資料。利用之期間、地區、對象及方式均不受任何限制。
						li 本活動參加者本人了解，就所提供之個人資料依法得行使查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用以及請求刪除等權利。
						li 本活動參加者本人了解，簽署本同意書為本人參加活動之必要條件。本人得自由選擇是否參加。
						li 本活動之進行需使用及處理用戶之個人資料，如拒絕提供個人資料予雀巢或創異數位者，將使台灣雀巢股份有限公司及創異數位無法進行本活動之抽獎、通知領獎、兌獎聯繫等相關事宜，故拒絕提供個人資料者，將無法參與本活動。
						li 參與本活動前，煩請詳細閱讀本活動之注意事項(包含但不限於上傳照片及著作權說明)、雀巢隱私保護原則，以維護您的權益。






					
</template>
<style lang="less" scoped>
@import "../css/base/config.less";
@import "../css/base/mixin.less";
@yellow:#ffff00;

.ruledetail{
	padding:20px 0;
.bg-purple{
	background:#26358c;
}
.br-30{
	border-radius:30px;
}
.flag{
	.fontsize(1.4rem);
}


.tit{
	.stary1{
       left:20px;
       top:30px;
       img{
			.scale(.7,.7);
       }
    }
	.stary2{
        right:0px;
        top:-20px;
        img{
            .scale(.9 , .9);
        }
    }
}
.para{
	.fontsize(1.5rem);
	line-height:2.5rem;
	padding:10px 20px;
}
.h2 {
   	.fontsize(2.6rem);
   	.line{
   		top:10px;
   		left:0;
   	}
}
            .h5{
                
            }
				color:#fff;
				p{
					font-size:1.9rem;
				}
				a {

    		&:link,
    		&:hover,
    		&:active,
    		&:visited ,&:focus{
    			color: #436fc5;
       		 	text-decoration:underline;
    			}
			}
}

</style>
