@import '../base/config.less';
@import "../base/mixin.less";
@import "../base/common.less";

@bg-lightGray:#e5b8b8;
@banner-gray:#d7d7d7;
@bg-gray2:#f3f3f3;
.child-float-l {
    >* {
        float: left;
    }
}
.d-inline-block{
	display:inline-block;
}
.d-flex-end{
	display:flex; flex-direction:row;
	align-items:flex-end;justify-content:center;
}
.fright{
	float:right;
}


.p-center{
	>img{
		margin:0 auto;
	}
}


.bg-kGray{
	.bg{background:#666;}
}
.bg-lGray{
	.bg{
		background:lighten(#666 , 20%);
	}
}
.bg-l30Gray{
	.bg{
		background:lighten(#666 , 50%);
	}
}
.bg-red{
	background:none;
	.bg{
		background:@red;
	}
}
.bg-lred{
	background:none;
	.bg{
		background:lighten(@red , 55%);;
	}
}

.bg-blue{
	.bg{
		background:#d2deef;
	}
}
.bg-lblue{
	.bg{
		background:lighten( #d2deef , 7%);
	}
}


.setlinkedColor(@col){
	&:link,
	&:hover,
	&:active,
	&:visited,
	&:focus {
	    color: @col;

	}
}
.about.container{
		width:100%;
		max-width:1100px;
		h1,h2,h3{margin:10px 0 5px;}
		@media (max-width:@j-break-point){

					h1,h2{
						.fontsize(7vw);
					}
					h3{
						.fontsize(6vw);
					}
					h4{
						.fontsize(5vw);
					}
					h5{
						.fontsize(4.5vw);
					}
					p{
						.fontsize(4.5vw);
					}
		}
		.values,.brand,.program-features-cont , .products{

			.lab{
				.talign(center);
			}
			.title{
				display:inline-block;
				padding:30px 0 10px;
				.line{
					width:80%;
					background:@red;
					height:5px;
					left:10%;
					bottom:0;
				}
			}
			.desc{p{
				line-height: 28px;
				}}
		}
		.products{
			.bg-white;
			.talign(center);
			
		}
		.values,.program-features-cont{
			background:@bg-gray2;
			.talign(center);
			
		}

		.banner{
			.relat;
			padding:0;
			>*{padding:0;}
			// display:flex;
			// align-items:flex-end;justify-content:center;
			
			.info{
				.relat;
				margin-left:0%;
				right:0;
				padding:40px 60px;
				display:flex;  
				flex-flow: row wrap;
			    align-content:center;
			    >*{
					line-height:24px;
				}
			    @media (max-width:@j-break-point){
					margin-left:0%;
					padding :30px;
				}
			}
		}
 
			.banner-top{
				
				.tit{
					
					color:#515151;
					bottom:0;
					left:0;
					padding:40px;
					@media (max-width:@j-break-point){
						padding:5px 10px;
					}
					
					
				}



			}
		.values{
			padding:0px 50px 50px;
			@media (max-width:@j-break-point){
				padding:0px 15px 30px;
			}
			.lab .desc{
				padding:30px;
				.talign(left);
				@media (max-width:@j-break-point){
					padding:15px 0px 30px;
				}
			}


			.graphs{

				padding:160px 0;
				p {
					.fontsize(14px);
				}
				@media (max-width:@j-break-sm-point){
					padding:30px 0;
					p {
						.fontsize(16px);
					}
				}
				@media (max-width:@j-break-point){
						padding:0px 0 30px;
				}
				.p{
					width:45%;
					margin:0 auto;
					@media (max-width:@j-break-sm-point){
						width:60%;
						margin:0 auto;
					}
					@media (max-width:@j-break-point){
						width:80%;
						margin:0 auto;
					}
				}
				

				.desc-graph{
					width:250px;
					.talign(left);
					h4{
						color:@red;
					}
					&.d4{
						left:37.5%;
						top:2%;
					}
					&.d5{
						left:0%;
						top:40%;
					}
					&.d3{
						right:0%;
						top:40%;
					}
					&.d2{
						right:20%;
						bottom:50px;
						.line{
							bottom:110%;
							left:-15px;
						}
					}
					&.d1{
						left:20%;
						bottom:25px;
						.line{
							bottom:50%;
							right:-50px;
						}
					}

					&.d6{
						left:5%;
						bottom:20%;

					}
					&.d7{
						right:5%;
						bottom:23%;
					}
					@media (max-width:@j-break-sm-point){
						&.d1,&.d2,&.d3,&.d4,&.d5,&.d6,&.d7
						{
							.relat;
						width:100%;
						padding:10px;
						left:0;
						top:auto;
						right:auto;
						bottom:auto;
						}

					}
				}
			}
		}
		.brand{
			padding:0px 50px 50px;
			@media (max-width:@j-break-sm-point){
				padding:0px 50px;
			}
			@media (max-width:@j-break-point){
				padding:15px;
			}
			.tit{
				padding:10px 0;
			}
			> *{
				.relat;
				z-index:1;
				padding:30px;
				@media (max-width:@j-break-sm-point){
					padding:20px 30px;
				}
			}
			.z2{
				z-index:2;
			}
			.bg-gray{
				background-color:#ccc;
				
			}
			.margin-up{
				margin-top:-60px;
				@media (max-width:@j-break-point){
				margin-top:0px;;
			}
			}

			.list{
				@media(max-width:@j-break-point){
					padding:10px;
				}

				.item{
					padding:30px 20px 0;
					@media(max-width:@j-break-point){
						.talign(center);

						padding:30px 0px 0;
						.p.fleft{
							float:none;
							margin:0 auto;
							display:inline-block;

						}
						p{
							.talign(left);
						}
					}
				}
			}
		}
		.programs{
				
				.lab{
					padding:0;
				}
				.bg-red{
					background:@red;
				}
				.bg-gray{
					background:@banner-gray;
				}
				a.btn{
					border-radius:0;
					.setlinkedColor(@white);
					&:hover, &.act{
						.bg-red;
					}
					h4{

						@media (max-width:@j-break-xs-point){
							// .ft-xsssss;
						}
					}
				}
			}
			

}

