@import '../base/config.less';
@import "../base/mixin.less";
@import "../base/common.less";

@bg-lightGray:#e5b8b8;
@banner-gray:#d7d7d7;
@bg-gray2:#f3f3f3;
.child-float-l {
    >* {
        float: left;
    }
}
.d-inline-block{
	display:inline-block;
}
.d-flex-end{
	display:flex; flex-direction:row;
	align-items:flex-end;justify-content:center;
}
.fright{
	float:right;
}

.p-center{
	>img{
		margin:0 auto;
	}
}


.bg-kGray{
	.bg{background:#666;}
}
.bg-lGray{
	.bg{
		background:lighten(#666 , 20%);
	}
}
.bg-l30Gray{
	.bg{
		background:lighten(#666 , 50%);
	}
}
.bg-red{
	background:none;
	.bg{
		background:@red;
	}
}
.bg-lred{
	background:none;
	.bg{
		background:lighten(@red , 55%);;
	}
}

.bg-blue{
	.bg{
		background:#d2deef;
	}
}
.bg-lblue{
	.bg{
		background:lighten( #d2deef , 7%);
	}
}


.setlinkedColor(@col){
	&:link,
	&:hover,
	&:active,
	&:visited,
	&:focus {
	    color: @col;

	}
}
.container{
		width:100%;
		max-width:1100px;
		h1,h2,h3{margin:10px 0 5px;}
		@media (max-width:@j-break-point){

					h1,h2{
						.fontsize(7vw);
					}
					h3{
						.fontsize(6vw);
					}
					h4{
						.fontsize(5vw);
					}
					h5{
						.fontsize(4.5vw);
					}
					p{
						.fontsize(4.5vw);
					}
		}

		.banner{
			.relat;
			padding:0;
			>*{padding:0;}
			
			.info{
				.relat;
				margin-left:0%;
				right:0;
				padding:40px 60px;
				display:flex;  
				flex-flow: row wrap;
			    align-content:center;
			    >*{
					line-height:24px;
				}
			    @media (max-width:@j-break-point){
					margin-left:0%;
					padding :30px;
				}
			}
		}
 
			.banner-top{
				
				.tit{
					
					color:#515151;
					bottom:0;
					left:0;
					padding:40px;
					@media (max-width:@j-break-point){
						padding:5px 10px;
					}
					
				}



			}

		.form-content{
			
			.talign(center);
			width:80%;
			padding:60px 0;
			margin: 0 auto;
			@media (max-width:@j-break-point){
				width:100%;padding:20px 0;
			}
			.tit{
				display:inline-block;
				.relat;
				h2{
					margin:10px 0;
				}
				.line{
					.abs;
					background:@red;
					height:5px;width:80%;left:10%;
				}
			}
			.form{
				width:80%;
				margin:60px auto;
				@media (max-width:@j-break-point){
					width:100%;
					margin:20px auto;
				}
				label{
					font-weight:normal;
					.talign(left);
					@media (max-width:@j-break-point){
						padding:0;
					}
				}
				.form-group{
					margin:10px 0 15px;
					padding:5px 0;
					.setBorderBottomStyle(1px , #ccc);
					display:flex; flex-direction:row;
					align-items:flex-end;justify-content:center;
					>*{
						.ft-xsss;
						@media (max-width:@j-break-point){
							.fontsize(14px);
						}
					}
					&.needs, &.textareas{
						display:flex; flex-direction:row;
						align-items:flex-start;
						margin: 5px 0;


						@media (max-width:@j-break-point){
							>*{padding:0;}
						}
					}
					textarea{
						.ft-xsss;
						padding:0 10px;
						@media (max-width:@j-break-point){
							.fontsize(14px);
						}
					}
					input[type="text"],input[type="tel"],input[type="email"]{
						font-weight:normal;
						border:none;
						.ft-xsss;
						height:40px;
						line-height:40px;
						padding:0px 10px;
						@media (max-width:@j-break-point){
							.fontsize(14px);
						}
					}

					.checkbox label{
						padding-left:0px;
					}
					.checkboxes{
						.talign(left);
						.checkbox{
							display:inline-block;
							margin: 5px 25px;
						}
					}
				}

				.btn.btn-submit{
					background:#ccc;
					.black;

					.ft-xss;
					padding: 5px 20%;
					margin: 10px auto;
				}
				.ps{
					@media (max-width:@j-break-point){
						.talign(left);
					}
				}
			}
		}
			

}

