// @import '../base/config.less';
// @import "../base/mixin.less";
// @import "../base/common.less";
.pop{
    width:100%;
    height:100%;
    

    .bg{
        width:100%;
        height:100%;
        .bg-black;
        opacity:.5;
    }
    .btns{
        width:100%;
        max-width:840px;
        margin:0 auto;
        z-index:99;
    }
    .btn-close{
       
    }
    .img-res{
        width:100%;
    }
    @yellow:#ce9f29;
    @txtgreen:#2b662f;
    .yellow{
        color:@yellow;
    }
    .green{
        color:@txtgreen;
    }
    a {
        text-decoration: underline;
        color: @txtgreen;

        &:link,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: underline;
            color: @txtgreen;
        }
    }
     
    .container-fluid{
        width:100%;
        height:calc(~'100% - 0px');
        margin-top:0px;
        
        padding:0;
        
        overflow-y:auto;
        overflow-x: hidden;

        
        

    }
}
.scrollhint
{
            left:calc(~"50% - 35px");
            top:calc(~"100vh - 130px");
             
            .t{
                bottom:-10px;
            }
            @media (min-width:@j-break-md-point){
                 top:calc(~"1000px - 180px");
            }

}

.bgall{
    width:100%;
    height:100%;
    min-height:100vh;
    // background:url('/img/all.jpg');
    background:#eee;
    top:0;
}
/*
comomn vpmponent
*/
@import "../components/section/index.less";
// @import "../components/section/form.less";
// @import "../components/section/rule.less";