@import '../base/config.less';
@import "../base/mixin.less";
@import "../base/common.less";

@bg-lightGray:#e5b8b8;
@banner-gray:#d7d7d7;
@bg-gray2:#f3f3f3;

.container{
		width:100%;
		max-width:1100px;

		@media (max-width:@j-break-point){
					h1,h2{
						.fontsize(7vw);
					}
					h3{
						.fontsize(6vw);
					}
					h4{
						.fontsize(5vw);
					}
					h5{
						.fontsize(4.5vw);
					}
					p{
						.fontsize(4.5vw);
					}
				}
		
		.banner{
			.relat;
			>*{padding:0;}
			background:@banner-gray;
			
			.tit{

				.abs;
				height:100%;
				padding: 0 15px;
				.talign(center);
				right:0;
				top:0;
				display:flex;  align-items:center;
			    justify-content:center;
				h1,h2{
					margin: 5px 0;
					color:#515151;
				}

			}
		}
		.content{
			.bg-white;
			.talign(center);

			.bg-gray2{
				background:lighten(#4e4e4e , 25%);
			}
			.bg-gray1{
				background:lighten(#4e4e4e , 10%);
			}
			.bg-gray3{
				background:lighten(#4e4e4e , 0%);
			}


			.col-1{
				padding:80px;
				@media (max-width:992px){
					padding:80px 30px;
				}
				@media (max-width:@j-break-point){
					padding:30px;
				}
			}
			.col-2{
				.white;
				padding:0;
				right:0;
				top:0;
				height:100%;
				background:@red;


				@media (max-width:@j-break-point){
					.relat;
				}
				>*{
					height:50%;
					display:flex;  
					flex-flow: row wrap;
			    	align-content:center;
			    	padding:30px;
			    	h3,h4 {
		            	margin: 5px 0;
		        	}
				}
			}
			.tit{
				display:inline-block;
				color:@red;.bold;
				padding:10px 0;

				.line{
					bottom:0;
					width:75%;
					height:5px;
					left:12.5%;
					background:@red;
				}
			}
			.subdesc , .desc{
				.talign(left);

			}
			.desc{
				
				padding:20px 0;
				>*{
					line-height:30px;
				}
			}
		}
		.content2{
			>*{
				padding:0px 0;
			}
			.lab{
				background:@red;
				.white;
				
			}
			.scenario{
				.abs;
				padding:0;
				left:0;
				height:100%;
				background:url('/img/dest/monitor-kv2.jpg');
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				@media (max-width:@j-break-point){
					.relat;
					height:55vw;
				}
			}
			.desc{
				.relat;
				margin-left:50%;
				right:0;
				padding:40px 40px;
				display:flex;  
				flex-flow: row wrap;
			    align-content:center;
			    >*{
					line-height:24px;
				}
			    @media (max-width:@j-break-point){
					margin-left:0%;
				}
			}
		}
		.products {
			background:@bg-gray2;
			padding:30px 100px;
			@media (max-width:@j-break-point){
				padding:30px 15px;
				
			}
		    >*{
		    	padding:30px 60px;
		    	@media (max-width:@j-break-point){
					padding:10px 10vw;
					.ico{
						width:30%;
					}
				}
		    	.talign(center);
		    	h5{
		    		line-height:22px;

		    	}

		    	.desc{
		    		.talign(left);
		    		padding:0 0px;
		    		min-height:180px;
		    	}
		    	.ico{
		    		display:inline-block;
		    	}
		    	.tit{
		    		color:@red;
		    	}
		    	a.btn, a.btn-j{
		    		color:@red;
		    		.fright;
		    	}
		    }
		}

		&.prd1 , &.prd2 ,  &.prd3 ,  &.prd4{
			@media (max-width:@j-break-point){
					h1,h2{
						.fontsize(7vw);
					}
					h3{
						.fontsize(6vw);
					}
					h4{
						.fontsize(5vw);
					}
					h5{
						.fontsize(4.5vw);
					}
					p{
						.fontsize(4.5vw);
					}
				}
			padding : 0 0 0px ;
			h1,h2,h3,h4,h5{
				margin:5px 0;
			}
			.content{
				padding: 30px 0;
				.desc{
					padding :30px 120px 0;
					.talign(center);
					@media (max-width:992px){
						.talign(left);
					}
					@media (max-width:@j-break-point){
					padding:30px 15px;
					}
				}
				@media (max-width:992px){
					padding:80px 30px;
				}
				@media (max-width:@j-break-point){
					padding:30px;
				}
			}

			.quests{

				.tit{
					padding:20px;
					background:@red;
					.white;
					.talign(center);
					a{
						text-decoration:underline;
						&:link,
                        &:hover,
                        &:active,
                        &:visited,
                        &:focus {
                            .white;


                        }
					}
				}
			}
			.quests-content{
				background:#f0f0f0;

				.list{
					padding: 60px 30px;
					.item{
						.talign(center);
						.relat;
						padding: 0px 20px;
						.ico{
							.relat;
							display:inline-block;
							.txt{
								width:100%;
								height:100%;
								top:0%;
								left:0;
								padding:20% 0;
								.white;

								
							}
						}
						.desc{
							 min-height:160px;.talign(left);
							 @media (max-width:992px){
							 	 min-height:160px;
							 }
							 @media (max-width:@j-break-point){
							 	 min-height:auto;
							 }
						}

						&.q4,&.q5,&.q6{
							// .desc{
							//  min-height:90px;
							//  .talign(left);
							//  @media (max-width:992px){
							//  	 min-height:90px;
							//  }
							//  @media (max-width:@j-break-point){
							//  	 min-height:auto;
							//  }
							// }
						}
						.tit{
							color:@red;
						}
						.ans{
							margin: 30px auto;
							padding:10px 0 10px 10px ;
							display:flex; 
							align-items:flex-start;
							background:#e1e1e1;
							.ans-t{
								min-height:120px;
								width:calc(~"100% - 50px");
								.talign(left);
								padding:0 10px;
								@media (max-width:@j-break-point){
							 	 min-height:auto;
							 	}
							}
						}
					}
				}
			}
			.adv-content,.formats-content,.features-content{
				padding:60px 0;
				.bg-white;
				.tit{
					.talign(center);
				}
				.desc{

					h4{

					}
					@media (max-width:@j-break-point){
						padding:0 60px;
					}
				}
				.list{
					padding: 60px 30px 0;
					.item{
						.talign(center);
						.relat;
						padding: 0px 25px 40px;

						.p{

							img{
								display:inline-block;
								width:100%;
							}
							.t{
								width:100%;
								background:rgba(0,0,0,.5);
								bottom:0;
								.white;
							}
						}
						.item-desc{
							.talign(left);
							padding:10px 5px;
						}
					}
				}
			}
			.features-content{
				.list{
					padding: 60px 0px 0;
					.item{
						@media (max-width:@j-break-point){
							margin: 5px auto;
						}
						.p{
							&.fright{
								float:left;
								@media (max-width:@j-break-point){
									float:right;
								}
							}
						}
						.item-tit{
							padding:0px 5px;
							color:@red;
							.talign(left);
						}
					}
				}
			}
		}

		&.prd3,&.prd4{
			.quests-content{
				.list{
					.item .desc{
						min-height:140px;.talign(left);
						@media (max-width:992px){
							min-height:100px;
						}
						@media (max-width:@j-break-point){
							min-height:auto;
						}
					}

					.item .ans .ans-t{
								min-height:170px;
								@media (max-width:992px){
									min-height:110px;
								}
								@media (max-width:@j-break-point){
							 	 min-height:auto;
							 	}
					}


				}
			}
			.adv-content{
				.list{
					.item .item-desc{
						min-height:200px;.talign(left);
						@media (max-width:992px){
							min-height:200px;
						}
						@media (max-width:@j-break-point){
							min-height:auto;
						}
					}
				}
			}
		}
		&.prd4{
			.adv-content{
				.list{
					.item .item-desc{
						min-height:220px;.talign(left);
						@media (max-width:992px){
							min-height:200px;
						}
						@media (max-width:@j-break-point){
							min-height:auto;
						}
					}
				}
			}
		}
}

