@import '../base/config.less';
@import "../base/mixin.less";
@import "../base/common.less";
a {
    
    &:link,
    &:hover,
    &:active,
    &:visited ,&:focus{
    	text-decoration: none;
    }
}

	.container{
		width:100%;
		max-width:1100px;

		@media (max-width:@j-break-point){

					h1,h2{
						.fontsize(7vw);
					}
					h3{
						.fontsize(6vw);
					}
					h4{
						.fontsize(5vw);
					}
					h5{
						.fontsize(4.5vw);
					}
					p{
						.fontsize(4.5vw);
					}
		}
		.ads{
			padding :40px 10px ;
			.banner{
				padding :15px 0;
				img{
					margin:0 auto;
				}
			}
		}
		.load{
			background	:#f0f0f0;
			padding:10px ;
			.talign(center);

			width:90%;
			margin: 30px auto;
			border-radius:5px;


		}
		.Column{
			padding :15px ;
			
			.lab{
				padding:15px 0;
				@media (max-width:@j-break-point){
						padding: 0px 0px;
				}
					
				>*{
					.bg-white;
					padding: 0 10px 0 0;

				}

				h3, h4{
					margin: 5px 0;
					color:@red;
				}

				.line{
					width:100%;
					height:2px;
					background:@red;
					top:50%;
				}
				.line1{
					top:47%;
				}
				.line2{
					top:53%;
				}
				
				
			}
			
			.date{
				color:@lightGray;
				padding:0;
				margin: 3px 0;
			}
			.btn{
				padding:0 10px; 
				margin:-15px 0;
				background:#ccc;
				border-radius:20px;
				.fright;
				h5{
					margin:5px 0;
				}
			}
			.list{

				padding:0px 15px;
				@media (max-width:@j-break-point){
						padding: 0px 0px;
				}
				display:inline-flex; flex-wrap:wrap;
				align-items:flex-start;justify-content:flex-start;
				a.item ,.item{
					// display:inline-block;
					margin: 5px 0;
					padding: 15px 5px;
					width:33.3%;
					@media (max-width:@j-break-sm-point){
							width:50%;
					}
					@media (max-width:@j-break-point){
						width:100%;
						padding: 10px 0px;
					}


					.relat;
					h4,h5{
						.black;
					}
					
					.relat;
					
					.photo{
						.relat;
						width:100%;
						
						min-height:	170px;

						margin:0px 0;
						
						
					}


					
						.tit{
							padding:5px 0;
							
							h6.date {
							color:@lightGray;
							padding:5px 0;

							}
						}

				}


			}
			.Column1 , .Column2{
				padding: 0 15px;
			}
			.Column2{
				.list{
					a.item{
						.setBorderBottomStyle(1px , #ccc);
					}
				}
			}
		}
	}