@import '../base/config.less';
@import "../base/mixin.less";
@import "../base/common.less";

@bg-lightGray:#e5b8b8;
@banner-gray:#d7d7d7;
.child-float-l {
    >* {
        float: left;
    }
}
.d-inline-block{
	display:inline-block;
}
.d-flex-end{
	display:flex; flex-direction:row;
	align-items:flex-end;justify-content:center;
}
.fright{
	float:right;
}
	.container{
		width:100%;
		max-width:1100px;
		.banner{
			.relat;
			>*{padding:0;}
			background:@banner-gray;
			// display:flex; 
			// align-items:flex-end;justify-content:center;
			.tit{
				.abs;
				height:100%;
				padding: 0 15px;
				.talign(center);
				right:0;
				top:0;
				display:flex;  align-items:center;
			    justify-content:center;
				h1,h2{
					margin: 5px 0;
					color:#515151;
				}

				@media (max-width:@j-break-point){

				}
			}
		}
		.content{
			.talign(center);
			padding:40px 0;
			.tit{
				display:inline-block;
				color:@red;

				.line{
					bottom:0;
					width:75%;
					height:5px;
					left:12.5%;
					background:@red;
				}
			}
			.desc{
				padding:20px 0;
				h4{
					line-height:30px;
				}
			}
		}
		.quests {
			background:@bg-lightGray;
		    .tit {
		        background: @red;
		        .white;
		        .talign(center);
		        padding: 20px 0;

		        h1,
		        h2 {
		            margin: 5px 0;
		        }
		    }

		}
		
	}