@import '../base/config.less';
@import "../base/mixin.less";
@import "../base/common.less";
@bg-lightGray:#e5b8b8;
@banner-gray:#d7d7d7;
@bg-gray2:#f3f3f3;
.child-float-l {
    >* {
        float: left;
    }
}
.d-inline-block{
	display:inline-block;
}
.d-flex-end{
	display:flex; flex-direction:row;
	align-items:flex-end;justify-content:center;
}
.fright{
	float:right;
}

.col-xs-1.col-md-88{
	width:88%;
}
.col-xs-1.col-md-12{
	width:12%;
}
.col-xs-1.col-md-22{
	width:22%;
}


.col-xs-1.col-md-20{
	width:20%;
}
.col-xs-1.col-sm-33{
	@media (max-width:992px){
	width:33.3%;
	}
}
.col-xs-1.col-xs-50{
	@media (max-width:@j-break-point){
		width:100%;
	}
}

.col-xs-1.col-sm-80{
	@media (max-width:992px){
	width:80%;
	}
}
.col-xs-1.col-sm-40{
	@media (max-width:992px){
	width:40%;
	}
}
.col-xs-1.col-sm-20{
	@media (max-width:992px){
	width:20%;
	}
}


.col-xs-1.col-xs-75{
	@media (max-width:@j-break-point){
		width:75%;
	}
}
.col-xs-1.col-xs-25{
	@media (max-width:@j-break-point){
		width:25%;
	}
}
.p-center{
	>img{
		margin:0 auto;
	}
}
// .col-xs-1.col-xs-50{
// 	@media (max-width:@j-break-point){
// 		width:50%;
// 	}
// }

.bg-kGray{
	.bg{background:#666;}
}
.bg-lGray{
	.bg{
		background:lighten(#666 , 20%);
	}
}
.bg-l30Gray{
	.bg{
		background:lighten(#666 , 50%);
	}
}
.bg-red{
	background:none;
	.bg{
		background:@red;
	}
}
.bg-lred{
	background:none;
	.bg{
		background:lighten(@red , 55%);;
	}
}

.bg-blue{
	.bg{
		background:#d2deef;
	}
}
.bg-lblue{
	.bg{
		background:lighten( #d2deef , 7%);
	}
}
.container{
		width:100%;
		max-width:1100px;
		h1,h2,h3{margin:10px auto 5px;}
		@media (max-width:@j-break-point){

					h1,h2{
						.fontsize(7vw);
					}
					h3{
						.fontsize(6vw);
					}
					h4{
						.fontsize(5vw);
					}
					h5{
						.fontsize(4.5vw);
					}
					p{
						.fontsize(4.5vw);
					}
		}



		.banner{
			.relat;
			padding:0;
			>*{padding:0;}
			// display:flex;
			// align-items:flex-end;justify-content:center;
			.scenario{
				.abs;
				padding:0;
				right:0;
				height:100%;
				background:url('/img/dest/solution01-p2.jpg');
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				@media (max-width:@j-break-point){
					.relat;
					height:50vw;

				}
			}
			.info{
				.relat;
				margin-left:0%;
				right:0;
				padding:40px 60px;
				display:flex;
				flex-flow: row wrap;
			    align-content:center;
			    >*{
					line-height:24px;
				}
			    @media (max-width:@j-break-point){
					margin-left:0%;
					padding :30px;
				}
			}
		}
 
			.banner-top{
				.tit{
					color:#515151;
					bottom: 10%;
					right:0%;
					@media (max-width:@j-break-sm-point){
						// .relat;
						
					}
					@media (max-width:@j-break-xs-point){
						.relat;
						// .talign(center);
						margin: 10px auto;
					}
				}
			}
			&.sol01,&.sol02,&.sol03{
			.banner-top{
				.tit{
					.talign(right);
					right:20px;
					@media (max-width:@j-break-sm-point){
						.talign(right);
					}
					@media (max-width:@j-break-xs-point){
						.talign(left);
						right:0;
						padding:10px 20px;
					}
				}
			}
			}

			 &.sol04{
			 	.banner-top{
				.tit{
					color:#515151;
					bottom: 0%;
					left:0%;
					right:auto;
					padding:25px 30px;
					
				}
			}
			 }
			.products{
				.desc{
					margin: 0px 0 30px;
					.talign(center);
				}
			}
			.table-x{
				width:80%;
				margin: 0px auto;
				padding:30px 0;
				@media (max-width:@j-break-point){
					width:90%;
				}
				.talign(center);
				>*{.relat;}
				>*>*{
					padding:15px 0;
					.relat;
					.white;
					&.black{
						.black;

					}
					&.fullheight{
						height:100%;
						.abs;
					}
					&.mleft{
						margin-left:12%;
						@media (max-width:767.98px	){
							margin-left:20%;
						}
					}
					&.h-center{
						display:flex;  align-items:center;
			    		justify-content:center;
					}

					>*{
						.relat;

					}

					p{
						@media (max-width:@j-break-sm-point){
							.fontsize(14px);
						}
						@media (max-width:@j-break-point){
							.fontsize(12px);
						}
					}
					.bg{
						.abs;
						width:calc(~"100% - 2px");
						height:calc(~"100% - 2px");
						left:1px;
						top:1px;
						border-radius:4px;
					}
				}
			}

		.content{
			.bg-white;
			.talign(center);

			.bg-gray2{
				background:lighten(#4e4e4e , 25%);
			}
			.bg-gray1{
				background:lighten(#4e4e4e , 10%);
			}
			.bg-gray3{
				background:lighten(#4e4e4e , 0%);
			}
			&.bg-gray{
				background:#f0f0f0;
			}


			.col-1{
				padding:80px;
				@media (max-width:992px){
					padding:80px 30px;
				}
				@media (max-width:@j-break-point){
					padding:30px;
				}
			}
			.col-2{
				.white;
				padding:0;
				right:0;
				top:0;
				height:100%;
				background:@red;


				@media (max-width:@j-break-point){
					.relat;
				}
				>*{
					height:50%;
					display:flex;  
					flex-flow: row wrap;
			    	align-content:center;
			    	padding:30px;
			    	h3,h4 {
		            	margin: 5px 0;
		        	}
				}
			}
			.tit{
				display:inline-block;
				color:@red;.bold;
				padding:10px 0;

				.line{
					bottom:0;
					width:75%;
					height:5px;
					left:12.5%;
					background:@red;
				}
			}
			.subdesc , .desc{
				.talign(left);

			}
			.desc{
				
				padding:20px 0;
				>*{
					line-height:30px;
				}
			}
		}
		.content2{
			>*{
				padding:0px 0;
			}
			.lab{
				background:@red;
				.white;
				padding: 10px 0;
			}
		}
		.quests{

				.tit{
					padding:20px 0px;
					background:@red;
					.white;
					.talign(center);
					a{
						text-decoration:underline;
						&:link,
                        &:hover,
                        &:active,
                        &:visited,
                        &:focus {
                            .white;


                        }
					}
				}
			}
		.solutions-top5{
			background:#f0f0f0;
			.desc{
				padding :30px;
				.talign(center);
				h5{
					line-height:24px;
				}

			}
			.list{
					padding: 0px 30px 60px;
					.item{
						.talign(center);
						.relat;
						padding: 0px 20px;
						margin:10px 0;
						.ico{
							.relat;
							display:inline-block;
							.txt{
								width:100%;
								height:100%;
								top:15%;
								left:0;
								padding:20% 0;
								.white;

								
							}
						}
						.desc{
							padding:0;
							 min-height:195px;.talign(left);
							
							 h5{
								line-height:24px;
							 }
							 @media (max-width:992px){
							 	 min-height:170px;
							 }
							 @media (max-width:@j-break-point){
							 	 min-height:auto;
							 }
						}

						
						a.btn, a.btn-j{
							.fright;
							&:hover{
								text-decoration:none;
							}
							
						}
					}
				}
		}
		.quests-content{
				// background:#f0f0f0;
				 background:#fff;

				.list{
					padding: 60px 30px;
					.item{
						.talign(center);
						.relat;
						padding: 0px 20px;
						.ico{
							.relat;
							display:inline-block;
							.txt{
								width:100%;
								height:100%;
								top:0%;
								left:0;
								padding:20% 0;
								.white;

								
							}
						}
						.desc{
							 min-height:160px;.talign(left);
							 @media (max-width:992px){
							 	 min-height:160px;
							 }
							 @media (max-width:@j-break-point){
							 	 min-height:auto;
							 }
						}

						&.q4,&.q5,&.q6{
							// .desc{
							//  min-height:90px;
							//  .talign(left);
							//  @media (max-width:992px){
							//  	 min-height:90px;
							//  }
							//  @media (max-width:@j-break-point){
							//  	 min-height:auto;
							//  }
							// }
						}
						.tit{
							color:@red;
							.talign(left);
							margin-bottom:20px;

							&.tit-blk{
								.black;
							}
						}
						.ans{
							margin: 30px auto;
							padding:10px 0 10px 10px ;
							display:flex; 
							align-items:flex-start;
							background:#e1e1e1;
							.ans-t{
								min-height:120px;
								width:calc(~"100% - 50px");
								.talign(left);
								padding:0 10px;
								@media (max-width:@j-break-point){
							 	 min-height:auto;
							 	}
							}
						}
					}
				}
			}
		.products-sol02 , .products-sol03{

			background:#f0f0f0;
			&.products-sol03{
				.bg-white;
			}
			padding :60px;
			@media (max-width:@j-break-point){
				padding:5px;
			}
			.desc{
				padding:30px 20px;
			}
			.table-x{
				width:100%;
				>* .mleft{
						margin-left:20%;
				}
				p{
						@media (max-width:@j-break-sm-point){
							.fontsize(14px);
						}
						@media (max-width:@j-break-point){
							.fontsize(12px);
						}
				}
				.col-xs-1.col-sm-80 {
				        width: 80%;
				}
				.col-xs-1.col-sm-40 {
				        width: 40%;
				}
				.col-xs-1.col-sm-20 {
				        width: 20%;
				}
			}
			&.products-sol03{
				@media (max-width:@j-break-sm-point){
					padding:30px;
				}
				.row >*{
					padding:10px;
					@media (max-width:@j-break-sm-point){
						.talign(left);
					}
				}
			}
		}
		.help-content{
			background:#f0f0f0;
			padding :60px;
			@media (max-width:@j-break-point){
				padding:5px;
			}
			.desc{
				padding:30px 20px;

			}
			.list{
				h1,h2,h3,h4{margin:5px auto 5px;}
					.item{
						.bg-white;
						border-radius:5px;
						padding:20px 40px;
						.relat;
						margin: 20px auto;
						.qico{
							width:10%;
							left:-5%;
							top:-30px;

							@media (max-width:@j-break-point){
								width:17%;
							}
							.txt{
								.white;
								left:0;
								width:100%;
								.talign(center);
								top:10%;
							}
						}
					}
			}
		}
		.pr-content{
			padding: 60px 45px;
			@media (max-width:@j-break-point){
				padding:0px 0px 30px;
			}
			a.btn-contact{
				display:inline-block;
				padding:10px;
				.talign(center);
				width:100%;
				background:@banner-gray;

			}
		}

		.wtd{
			padding:60px;
			.talign(left);
			@media (max-width:@j-break-point){
				padding:10px;
				>*{
					margin: 10px auto;
				}
			}

		}

		.wcd{

			padding:50px;.talign(center);
			@media (max-width:@j-break-point){
				.talign(left);
			}
			

			.wcd-list{
				padding: 30px 0;.talign(center);
				.item{
					.ico{
						.relat;
						padding:20px;
						border-radius:150px;
						display:inline-block;

						background:@red;
					}
					.tit{
						.relat;
						.line{
							width:60%;
							margin:0 auto;
							.abs;
							left:20%;
						}
					}

					.desc{
						min-height:160px;
						max-width:300px;
						margin:0 auto;
					}
				}
			}
		}
		&.sol03{
			.help-content{
				
			}
			
		}

}

