

section.container.ex{
    .yellow{
        color:#fff600;
    }
    .relat;
    >.bg{
        height:100%;
        top:0px;
        .glow{
           left:(750 - 1312) * .5px;
            top:-300px;
        }
        .light{top:250px;}
        .radian{
            top:40%;
            left:175px;
        }

         .cloud1{
            right:-150px;
            top:220px;
            img{
                .scale(.6, .6)
            }
         }

         .cloud2{
            left:-150px;
            top:600px;
            img{
                .scale(.4, .4)
            }
         }
        .cloud3{
            left:-190px;
            top:980px;
            img{
                .scale(.5, .5)
            }
         }
         .cloud4{
            right:-230px;
            top:1080px;
            img{
                .scale(1.1,1.1)
            }
         }
         .cloud5{
            left:-120px;
            top:1690px;
            img{
                .scale(.5, .5)
            }
         }
         .cloud6{
            right:-120px;
            top:1610px;
            img{
                .scale(.5, .5)
            }
         }
    }

    .inner{
        padding-top:120px;
        padding-bottom:450px;

        
    }
    .tit{
        margin-top:80px;
        .relat;
        .like-ico{
            left:290px;
                top:145px;
                img{
                    .scale(.7,.7);
                }
        }
            .star1{
                left:10px;
                top:150px;
                img{
                    .scale(.4,.4);
                }
            }
            .star2{
                left:20px;
                top:155px;
                img{
                    .scale(.5,.5);
                }
                
            }
            
            .star3{
                right:5px;
                top:-10px;
                img{
                    .scale(.3,.3);
                }
            }
            .star4{
                right:15px;
                top:0px;
                img{
                    .scale(.4,.4);
                }
            }

            .stary1{
                left:-15px;
                top:65px;
                img{
                    .scale(.4,.4);
                }
            }
            .stary2{
                right:-10px;
                top:40px;
                img{
                    .scale(.7,.7);
                }
            }
            .stary3{
                right:170px;
                top:140px;
                img{
                    .scale(.5,.5);

                }
            }
            .baby0{
                left:0px;
                top:-155px;
                img{
                    .scale(.5,.5);

                }
            }
             .baby1{
                right:-17%;
                top:80px;
                img{
                    .scale(.7,.7);

                }
            }
             .baby2{
                left:-55px;
                top:75px;
                img{
                    .scale(.75,.75);

                }
            }
             .baby3{
                left:215px;
                top:-30px;
                img{
                    // .scale(.9,.9);
                    .rotate(5deg);
                }
            }

    }
    .prd{
        margin-top:80px;
        width:250px;
        .z1;
        .baby1{
            left:-90px;
            top:35px;
            img{.scale(.6,.6)}
        }
        .baby2{
            right:-100px;
            top:40px;
            img{.scale(.6,.6)}
        }
         .baby3{
            right:-60px;
            top:135px;
            img{.scale(.6,.6)}
        }
        .medal{
            left:-40px;
            top:-50px;
        }
    }
    .cloud-bg{
        margin-top:-170px;
        width:560px;
        .z0;
        .sp1{
            left:-10px;
            top:60px;
            img{.scale(.8,.8)}
        }
        .sp2{
            right:-20px;
            top:50px;
            img{.scale(-.8,.8)}
        }
    }
    .btnconfirm{
            .star1{
                left:10px;
                top:110px;
        
            }
            .star2{
                left:20px;
                top:125px;
                img{
                    .scale(.5,.5);
                }
                
            }
            
            .star3{
                right:30px;
                top:20px;
                img{
                    .scale(.8,.8);
                }
            }
    }

    
}
 