.eng{
    font-family:@fontfamilyeng;
}
.hei{
     font-family:@fontfamilyHei;
}
.blue{
    color:#005dac;
}
.large{
        .fontsize(1.1em);
    }
    .small{
        .fontsize(.9em);
    }

.dgray{
    color:@darkGray;
}
.bg-yellow{
            background: @yellow;
        }
.bg-pink{
    background: @pink;
}
.tshadow{ text-shadow: 2px 4px 3px rgba(0,0,0,.2);}

section.container{
    
    .relat;
    width:100%;
    max-width:750px;
    >.bg{
        width:100%;
        height:100%;
        left:0;
        top:0;

    }
    .inner{
        padding-top:80px;

    }
    
    .sub{

    }
}

section.container.form{
    .relat;
    background:#f1f1f1;
   .inner{
        padding:40px 0px;
    }
    .item{

    }
    .item-set{
        background:#f1f1f1;
        padding: 30px;
    }
    .formcontent{
        width:100%;
        
        border-radius:50px;
        
        .item-prddata,.item-strdata,.item-userdata{
            padding:0 45px;
        }

        .underline{
            text-decoration:underline;
        }

        .inner-shadow{
            .inner-shadow (2px, 4px, 5px, 0, 0.15);
        }


        .form-group {
            margin: 20px 0 ;
            &.w-60{
                width:55%;
            }
           
            &.w-45{
                width:45%;
            }
        }

        .form-control {
            height: 55px;
            outline: none;
            -moz-appearance: none;
            -webkit-box-shadow: none;
            .setBorderStyle(0, #000);
        }

        .form-group label {

            .h3,.h2{
                 color:#5c5c5c;
                .small{
                    .bold;
                    line-height: 36px;
                }
            }
            .talign(left);
        }

        .btn-j , .btn-submit{
            .txt{
                width:100%;height:100%;
                left:0;
                top:0;
                padding:15px 0; 
                .ico{
                    top:-15px;
                }
            }
        }
        .thumb{
            width:50px;
            height:50px;
            overflow:hidden;
            left:170px;
            top:5px;
        }
        .form-group select,
        .form-group input {
            background-color:@white;
            .fontsize(1.3rem);
            .setBorderStyle(2px , @red);
            border-radius:30px;
             width:100%;
             .talign(center);
             color:#426d6b;
        }

        .form-group select {
            
            
            
            height:55px;
            padding:0 20px ;

        }

        .form-group{
            input {
            height:55px;
            padding:0 20px ;
            .talign(center);
            
            .placeholderColor(#666);


           
            }
            .upd-photo input{
                width:50px;
                height:10px;
                top:10px;
                left:30px;
            }
            .placeholder{
                overflow:hidden;
                max-width:80px;
            }
        }
        
        .sense-reset{
            .bg-white;
            opacity: 0;
            top:0;
            left:0;
            width:100%;
            height: 160px;
        }
        .btnsubmit{
            background: @red;
            width:180px;
            height: 180px;
            border-radius:90px;
            padding:55px 0; 
            bottom:-90px;
            left:36%;
        }
    }

    .btn-plus{
        background:#f1f1f1;
        width:auto;
        display:inline-block;
        padding:10px 80px 10px 40px;
        border-radius:60px;
        .plus{
            width:50px;
            height:50px;
            padding:10px 10px;
            border-radius:25px;
            right:18px;
            top:18px;
        }
    }
}
 