.tbred{
    
}
.bg-blue-shadow{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f1c5e+0,0f1c5e+95&1+44,0+72 */
background: -moz-radial-gradient(center, ellipse farthest-corner   ,  rgba(15,28,94,1) 0%, rgba(15,28,94,1) 44%, rgba(15,28,94,0) 72%, rgba(15,28,94,0) 95%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse farthest-corner,  rgba(15,28,94,1) 0%,rgba(15,28,94,1) 44%,rgba(15,28,94,0) 72%,rgba(15,28,94,0) 95%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(15,28,94,1) 0%,rgba(15,28,94,1) 44%,rgba(15,28,94,0) 72%,rgba(15,28,94,0) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1c5e', endColorstr='#000f1c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.ie-img{
    display: none;
}
.radian{
    width:400px;
    height:400px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+74 */
    background: -moz-radial-gradient(center, ellipse farthest-corner,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 74%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse farthest-corner,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.brad-30{
    border-radius:30px;
}
.daty9{
    font-family:@fontfamilyDaty;
    font-weight:800;
}
.daty9-eng{
    font-family:@fontfamilyDaty;
    font-weight:400;
}
.eng{
    font-family:@fontfamilyeng;
}
.hei{
     font-family:@fontfamilyHei;
}
.thin{
    font-weight:100;
}
.large{
        .fontsize(1.1em);
    }
    .small{
        .fontsize(.9em);
    }
.orange{
        color:@orange;
}

.lightblue{
    color:@lightBlue;
}
.darkblue{
    color:@darkBlue;
}
.bg-blue{
        background: @darkBlue;
}
.bg-yblue{
        background: #131a6b;
}
.bg-yellow{
    background: @yellow;
    }
.z2{
    z-index:2;
}

.ovH , .ofhidden{
    overflow:hidden;
}
.tshadow{ text-shadow: 2px 4px 3px rgba(0,0,0,.2);}
.st0{fill:#113E97;}
.svg-shadow{
 -webkit-filter: drop-shadow( -3px -3px 50px rgba(0, 0, 0, 1));
  filter: drop-shadow( -3px -3px 50px rgba(0, 0, 0, 1));
}
section.container{
    padding:0 ;
    .relat;
    width:100%;
    max-width:750px;
    >.bg{
        width:100%;
        height:100%;
        left:0;
        top:0;
        .glow{
            left:(750 - 1312) * .5px;
            top:-250px;
        }
        .bg-shadow{
            top:-5%;
            left:-5%;
            width:110%;
            height:110%;
            opacity: 1;
        }
        .splash1{
            left:-500px;
            top:-100px;
        }
        &.bg-blue{
            background: @darkBlue;
        }

        .splash1-svg ,.splash2-svg {
            width:2200px;
            height:2200px;
            left:-350px;
            top:-100px;
            .scale(.95,.95);
            svg{
                .rotate(10deg);
            }
        }

    }
    .inner{
        padding: 50px 0 0;
        height:100vh;
        min-height:1500px;
    }
    
    .logo{
        margin:120px auto;
    }
    

    .btn{
        padding:20px 100px;
        
        margin:50px 10px;
        .bg{
             border-radius:60px;
             width:100%;
             height: 100%;
             .abs;
             top:0;left:0;
             .drop-shadow (0, 5px, 20px, 10px,  0.15);
             &.d3{
                top:10px;
            } 
            &.d2{
                top:5px;
            } 
        }

        .txt{
            width:100%;
            bottom:-50px;
            left:0;
        }
    }

    .u3{
        top:-5px;
    }
}
 
section.container.intro{
     >.bg{
        .splash1{
            left:-600px;
            top:-100px;
        }

        .splash2{
            left:100px;
            top:600px;
        }
        .splash1-svg{
            svg{
                .relat;
                // width:100%;
            }
        }


        .splash1-svg ,.splash2-svg {
            width:2200px;
            height:2200px;
           
        }
        .splash1-svg{
            
            left:-1050px;
            top:-500px;
            .scale(.55*.7 ,.55*.7);
            svg{
                .rotate(25deg);
            }
        }
        .splash2-svg{
            left:-400px;
            top:200px;
            .scale(.55*.8 ,.65*.8);
            svg{
                .rotate(0deg);
            }
        }
    }
    .logo-s{
        width:95px;
    }
    .ps{
        color:#858daf;
    }
    .tit{
        .line-tit{
            width:4px;
            height:90%;
            .relat;
            background:#e2dcdb;
        }
    }
    .btn{
        padding:15px 30px;
        margin:50px 15px;
    }
    .pad{
        width:100%;
        .man{
            left:25%;
            top:0;
            .body{
                left:20 + -230px;
                top:0px;
            }
            .legd{
                left:20 + -60px;
                top:240px;
            }
            .legu{
                left:20 + -90px;
                top:160px;
            }
            .hand{
                left:-70px;
                top:70px;
            }
        }
        .woman{
            left:50%;
            top:0;
            .leg{
                left:-180px;
                top:60px;
            }
            .hand{
                left:100px;
                top:80px;
            }
            .body{
                left:-150px;
                top:-160px;
            }
        }
    }
}
section.container.buy{
    .sub{
        display: inline-block;
        padding:10px 20px;

        .bg{
            width:100%;
            height: 100%;
            border-radius:30px;
             .abs;
             top:0;left:0;
        }
    }
    .packages{
        margin-top:-40px;
        .pac-left{
            left:60px;
        }
        .pac-right{
            left:-100px;
            top:50px;
        }
    }

}
section.container.choice{
    .bg{
        width:750px;
        .center{

        }
        .splash1{
            left:-120%;
            top:-20%;
            .rotate(10deg);

        }
        .splash2{
            left:15%;
            top:calc(~"-20% + 800px");
            .rotate(270deg);
            
        }
        .splash1-svg{
            
            left:-1200px;
            top:-1000px;
            .scale(.65,.65);
            svg{
                .rotate(120deg);
            }
        }
        .splash2-svg{
            left:-300px;
            top:600px;
            .scale(.7,.7);
            svg{
                .rotate(20deg);
            }
        }
    }
     .bodies{
        .b{}
        .b1 {
            .z1;
            margin-right:-60px;
        }
        .b2{
            .z0;
            margin-left:-50px;
            top:-30px;
        }


        .b4{.relat}
        .b3,.b5,.b6{.abs;}

        .b4{
            .z1;
            margin-bottom:-90px;
            left:190px;
        }
        .b3{
            .z1;
            top:120px;
            left:180px;
        }
        .b5{
            .z1;
            left:-50px;
            top:320px;
        }
        .b6{
            .z1;
            right:10px;
            top:180px;
        }

     }

     .btn-j{
        .go{
            right:10px;
            top:30px;
            .t{
                width:100%;
                top:23px;
            }
        }
     }

}
section.container.game{
    
    .inner{
        padding: 0px;
        max-height:100vh;

    }
    .swiper-container{
        height:calc(~"100vh");

        padding-bottom:90px;

        overflow-y:auto;
        overflow-x:hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        &::-webkit-scrollbar {
            width: 0 !important
        }
    }
    .bg{
            .abs;
            width:100%;
            // min-height:3134px;
            height:100%;
            top:0;
            left:0;
            overflow:hidden;
            .splash1{
                // display:block;
                left:-460px;
                bottom:-750px;
                .rotate(190deg);

            }
           
            .splash3{
                // display:block;
                left:10px;
                bottom:1950px;
                 
                img{

                }

            }

           .splash-svg{
                width: 2200px;
                height: 2200px;
            }

            .splash1-svg {

                left: 50px;
                bottom: 1200px;
                .scale(1.1, 1.1);
                 overflow: hidden;
                svg {
                    .rotate(5deg);
                }
            }
             .splash2{
                // display:block;
                right:390px;
                bottom:900px;
                .rotate(-80deg);
                img{
                    .scale(1.3, 1.3);
                }

            }
            .splash2-svg {
                left:-1100px;
                bottom: 250px;
                .scale( .55,  .5);

                svg {
                    .rotate(-50deg);
                }
            }

            .splash3-svg {
                left: 150px;
                bottom: -1600px;
                .scale(1.4, 1.4); overflow: hidden;

                svg {
                    .rotate(0deg);
                }
            }
    }
    .swiper-wrapper{
        height:auto;
        padding:150px 0 220px;
        @media (min-width:@j-break-sm-point){
             padding:150px 0 70px;
        }
    }
    .swiper-scrollbar{
        // display:none;
    }
    .topg{
        top:0;
        left:0;
    }
    .list-p{
        .bg-white;
        padding:5px 10px; 
        width:30px;
        height:30px;
        border-radius:15px;

    }
    .desc{
        width:72%;
        // padding-bottom:150px;
    }

    .stage{
       
    }
    .start{
        cursor:pointer;
        .ico{
            top:-40px;
            right:-35px;
        }
    }
    .lines{
        width:750px;
        left:-10px;
        .line-y{
            left:0;
            bottom:0;
            width:100%;
            height:55px;
            img{
                .abs;
                left:200px;
                bottom:0;
            }
            overflow:hidden;
        }
        .flow{
            overflow:hidden;
            opacity:0;
            // .test-frame;
            img{
                .relat;
                top:0;
            }
        }
        .fl1{
            left:260px;
            bottom:292px;
            .rotate(-11deg);
            img{
                .rotate(11deg);
            }
        }
        .fl2{
            left:400px;
            bottom:408px;
            .rotate(12deg);
            img{
                .rotate(-12deg);
            }
        }
        .fl3{
            left:250px;
            bottom:435px;
            .rotate(12deg);
            img{
                .rotate(-12deg);
            }
        }
        .fl4{
            left:390px;
            bottom:530px;
            .rotate(-12deg);
            img{
                top:-25px;
                .rotate(12deg);
            }
        }
        .fl5{
            left:240px;
            bottom:765px;
            .rotate(-12deg);
            img{
                // top:-50px;
                .rotate(12deg);
            }
        }
        .fl6{
            left:240px;
            bottom:822px;
            .rotate(12deg);
            img{
                top:-30px;
                .rotate(-12deg);
            }
        }
        .fl7{
            left:360px;
            bottom:960px;
            .rotate(-12deg);
            img{
                top:-20px;
                .rotate(12deg);
            }
        }
        .fl8{
            left:300px;
            bottom:1100px;
            .rotate(12deg);
            img{
                top:-20px;
                .rotate(-12deg);
            }
        }
        .fl9{
            left:225px;
            bottom:1090px;
            .rotate(-12deg);
            img{
                top:-50px;
                .rotate(12deg);
            }
        }
        .fl10{
            left:240px;
            bottom:1320px;
            .rotate(12deg);
            img{
                top:-30px;
                .rotate(-12deg);
            }
        }
        .fl11{
            left:250px;
            bottom:1410px;
            .rotate(-12deg);
            img{
                top:-30px;
                .rotate(12deg);
            }
        }
        .fl12{
            left:400px;
            bottom:1595px;
            .rotate(12deg);
            img{
                top:-10px;
                .rotate(-12deg);
            }
        }
        .fl13{
            left:220px;
            bottom:1580px;
            .rotate(-12deg);
            img{
                top:-30px;
                .rotate(12deg);
            }
        }
        .fl14{
            left:400px;
            bottom:1665px;
            .rotate(-12deg);
            img{
                top:-20px;
                .rotate(12deg);
            }
        }
        .fl15{
            left:240px;
            bottom:1689px;
            .rotate(12deg);
            img{
                top:-40px;
                .rotate(-12deg);
            }
        }
        .fl16{
            left:220px;
            bottom:1875px;
            .rotate(-12deg);
            img{
                top:-35px;
                .rotate(12deg);
            }
        }

        .fl17{
            left:240px;
            bottom:1955px;
            .rotate(12deg);
            img{
                top:-40px;
                .rotate(-12deg);
            }
        }
        .fl18{
            left:240px;
            bottom:2045px;
            .rotate(-12deg);
            img{
                top:-50px;
                .rotate(12deg);
            }
        }

    }


    .levels{
        width:100%;
        height:100%;
        left:0;
        bottom:0;
        
        .lv{
           
            .cond{
                width:100px;
                .ico{
                    
                    top:-20px;
                }
            }
            .unbreak{
                // opacity:.5;
            }
            .pack{
                width:105%;
                top:0;
                left:0;

               
                .pl{
                    width:100%;

                }
                .pr{
                    width:100%;
                    right:0px;
                    top:0px;
                }

            }
            
            .stars{
                .star{
                    padding:0 1px;
                }
            }
            .t.unbreak{
                color:#388bdf;
            }
            .t.break{
                width:140px;
                bottom:10px;
                left:calc(~"50% - 70px");
                
            }
        }


        .break{   opacity:0;    }
        .unbreak{ opacity:1;    }
        .lv1 .cond ,.lv3 .cond,.lv5 .cond ,.lv7 .cond,.lv9 .cond,
        .lv11 .cond ,.lv13 .cond,.lv15 .cond ,.lv17 .cond,{
            .ico{
                left:0;
            }
        }
        .lv2 .cond ,.lv4 .cond ,.lv6 .cond,.lv8 .cond,.lv10 .cond,
        .lv12 .cond ,.lv14 .cond ,.lv16 .cond,.lv18 .cond{
            .ico{
                right:0;
            }
        }
        .lv1{
            left:21%;
            bottom:10%;
            .cond{
                width:100px;

            }
            .pack{

                
                top:-15px;
                left:-5%;
                .rotate(-5deg);
                
            }
        }
        .lv2{
            right:22%;
            bottom:16.5%;
            .cond{
                width:90px;
            }
            .pack{
                 
                top:-25px;
                left:0%;
                
                .rotate(7deg);
            }
            .t.break{

            }
        }
        .lv3{
            left:17%;
            bottom:20.5%;
            .cond{
                width:90px;
            }
            .pack{
                
                top:-15px;
                left:-5%;
                
                .rotate(-5deg);
            }
        }
        .lv4{
            right:18%;
            bottom:25.5%;
            .cond{
                width:110px;
            }
            .pack{
                
                top:-5%;
                left:0%;
                
                .rotate(-2deg);
            }
        }
        .lv5{
            left:19%;
            bottom:30.5%;
            .cond{
                width:90px;
            }
            .pack{
                 width:100px;
                top:-15px;
                left:5%;
                
                
            }
        }
        .lv6{
            right:19%;
            bottom:35.5%;
            .cond{
                width:85px;
            }
            .pack{
                 width:95px;
                top:-25px;
                left:-5%;
                .rotate(-5deg);
                
            }
        }
        .lv7{
            left:19%;
            bottom:40.5%;
            .cond{
                width:90px;
            }
            .pack{
                 
                top:-25px;
                left:10%;
                .rotate(9deg);
                
            }
        }
        .lv8{
            right:19%;
            bottom:45.5%;
            .cond{
                width:80px;
            }
            .pack{
                 width:90px;
                top:-25px;
                left:0%;
                .rotate(5deg);
            }
        }
        .lv9{
            left:19%;
            bottom:50.5%;
            .cond{
                width:80px;
            }
            .pack{
                width:90px;
                top:-25px;
                left:0%;
                .rotate(-7deg);
            }
        }
        .lv10{
            right:23%;
            bottom:55.5%;
            .cond{
                width:80px;
            }
            .pack{
                width:90px;
                top:-25px;
                left:0%;
                .rotate(10deg);
            }
        }
        .lv11{
            left:23%;
            bottom:60%;
            .cond{
                width:85px;
            }
            .pack{
                width:95px;
                top:-25px;
                left:0%;
                
            }
        }
        .lv12{
            right:21%;
            bottom:65.5%;
            .cond{
                width:85px;
            }
            .pack{
                width:95px;
                top:-25px;
                left:0%;
                .rotate(6deg);
            }
        }
        .lv13{
            left:19%;
            bottom:71%;
            .cond{
                width:100px;
            }
            .pack{
                width:110px;
                top:-25px;
                left:0%;
                .rotate(10deg);
            }
        }
        .lv14{
            right:23%;
            bottom:76%;
            .cond{
                width:85px;
            }
            .pack{
                width:95px;
                top:-25px;
                left:0%;
                .rotate(-10deg);
            }
        }
        .lv15{
            left:20%;
            bottom:80.5%;
            .cond{
                width:80px;
            }
            .pack{
                width:90px;
                top:-25px;
                left:0%;
                .rotate(-5deg);
            }
        }
        .lv16{
            right:22%;
            bottom:86%;
            .cond{
                width:85px;
            }
            .pack{
                width:95px;
                top:-25px;
                left:0%;
                .rotate(-2deg);
            }
        }
        .lv17{
            left:20%;
            bottom:90.5%;
            .cond{
                width:90px;
            }
            .pack{
                width:100px;
                top:-25px;
                left:5%;
                .rotate(8deg);
            }
        }
        .lv18{
            right:20%;
            bottom:96%;
            .cond{
                width:80px;
            }
            .pack{
                width:90px;
                top:-25px;
                left:5%;
                .rotate(5deg);
            }
        }
    }
}

section.container.detail{
    .level{
        letter-spacing :0.75rem;
    }

    .tit{
        display:inline-block ;
        .sha{
            top:7px;
            
        }
    }

    .item{
        .num{
            width:100px;
            height :100px;
           background :#0f3587;
            padding:8px 0;
            border-radius:  50px;
        }
    }

    .btns .btn{
        padding:5px 30px;
    }
    .gesture{
        >*{
            >*{
                top:0;
                left:0;
            }
        }
    }
}

section.container.gallery{
    
   

    .bg{
        .preload{
            opacity:0;
            width:10px;
            height:10px;
        }
    }
    .inner{
        height:100vh;
        padding:0;
    }
    .swiper-container{
        height:100vh;
        padding-top:60px;
        padding-bottom:170px;
        overflow-y:auto;
        overflow-x:hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        &::-webkit-scrollbar {
            width: 0 !important
        }
    }
    .swiper-wrapper{
         height:auto;

    }
    .swiper-slide{
        height:auto;
        padding:60px 0;
    }
    .tit{
        margin-top:100px;
        .b1{
            left:33%;
            top:-100px;
        }
        .b2{
            right:50px;
            top:-50px;
        }
        .b3{
            left:15px;
            top:30px;
        }
    }
    .btns .btn{
        padding:7px 20px;
    }
    #onload{
        opacity:0;
    }
    .list{
        .item{
            width:690px;

            .d-inline-block;
            .block{
                width:100%;
                border-radius:20px;
                overflow:hidden;
                
            }
            .bg-sha{
             border-radius:30px;
             width:100%;
             height: 100%;
             .abs;
             top:0px;left:0;
             .drop-shadow (0, 5px, 10px, 0px,  0.3);
            }

            .cnt{
                width:100%;
                height:100%;
                top:0;
                left:0;
                padding:45px 0;
                .by{
                        .d-inline-block;
                        .relat;
                        top:-3px;
                }
                .ui-sets{
                    min-height:200px;
                    .item{
                    width:100px;

                    .part{
                        width:100px;
                        height:70px;
                        padding:25px 0  ;
                    }
                    .num{
                        width:100px;
                        height:100px;
                        padding:12px 0;
                        .bg-circ{
                            width:100%;
                            height:100%;
                            background:@yellow;
                            left:0;
                            top:0;
                            border-radius:50%;
                        }
                    }

                    }
                }
            }
            .btn-share{
                right:-5px;
                top:-5px;
                padding:30px;
            }
            .vote-ui{
                    left:20px;
                    top:10px;
                    >*{
                        display:inline-block;
                        line-height:39px;
                    }
                    .voted{
                        left:-4px;
                        top:4px;
                        opacity:1;
                    }
                }
        }
    }
}

section.container.custom{
    #sharepic{
        .scale(.5,.5);
        opacity: .01;
        canvas {
            width:1000px;
            height: 615px;

        }
    }
    .tit{
        display:inline-block ;
        .sha{
            top:5px;
            
        }
    }

    .desc{
        width:72%;
        .list-p{
            .bg-white;
            padding:5px 10px; 
            width:30px;
            height:30px;
            border-radius:15px;

        }
    }
    .op20{
        opacity:.4;
    }
    .ui{
        .cnt{
            width:100%;
            height:100%;
            left:0;top:0;
            padding:60px 0;
            ;
            .item-add{
                padding:0px 10px 0;
                top:calc(~"50% - 37px");
                left:calc(~"50% - 32px");
            }
            .ui-sets{
                min-height:200px;
                .item{
                    width:100px;

                    .part{
                        width:100px;
                        height:70px;
                        padding:25px 0  ;
                    }
                    .num{
                        width:100px;
                        height:100px;
                        padding:12px 0;
                        .bg-circ{
                            width:100%;
                            height:100%;
                            background:@yellow;
                            left:0;
                            top:0;
                            border-radius:50%;
                        }
                    }


                    .sel{
                        width:100px;
                        height:70px;
                        padding:25px 0;
                        .mask{
                            width:100%;
                            height:100%;
                            top:0;
                            left:0;
                            display:block;
                        }
                        .bg-circ{
                            width:100%;
                            height:100%;
                            background:@yellow;
                            left:0;
                            top:0;
                            border-radius:50%;
                             display:none;
                        }
                        .ico{
                            left:5px;
                            top:28px;
                        }
                        .ico-b{
                            display:none;
                        }
                        .ico-w{
                            display:block;
                        }
                        select{
                            color:#384678;

                        }
                        &.decided{
                             select{
                                .white;margin-left:0px;
                             }
                             .ico-w {
                                display: none;
                            }

                            .ico-b {
                                display: none;
                            }
                        }
                        &.enable{
                            width:100px;
                            height:100px;
                            padding:30px 0;
                            .mask{
                                display:none;
                            }
                            select{
                                .darkblue;
                            }
                            .bg-circ{
                                display:block;
                            }
                            .ico{
                                left:5px;
                                top:33px;
                            }
                            .ico-w {
                                display: none;
                            }

                            .ico-b {
                                display: block;
                            }
                        }
                    }
                    select{
                        padding:30px 30px ;
                        
                        
                        margin-top:-30px;
                        text-align: center;
                        option{
                            text-align: center;
                        }
                    }
                }
                
            }
        }
    }
    .form-group input {

            .yellow;
            .bold;
            height:70px;
            line-height:70px;
            width:580px;
            .talign(center);

    }
    .form-group{
        .form-input{
            .line{
                width:460px;
                height: 2px;
                background:rgba(255,255,255,.2);
                bottom:-10px;
                left:calc(~"50% - 230px");
            }

            &.input-name{
                .line{
                    width:250px;
                    left:calc(~"50% - 110px");
                }
                input{
                     
                    width:250px;
                    height:50px;
                    line-height:50px;
                }
            }
        }
    }
    .btns .btn{
        padding:10px 30px;
    }
   
}
.pop{
    width:750px;
}
