.eng{
                       font-family:@fontfamilyeng;

                    }

.purple{
    color:@purple;
}

section.container{
    
    .relat;
    max-width:1920px;
    >.bg{
        width:100%;
        height:100%;
        left:0;
        top:0;

    }
    .inner{



        padding-top:80px;
        max-width:  1000px;

    }
    .large{
        .fontsize(1.5em);
    }
    .sub{

    }
}
section.container.invite{
    .pinkred{
                    color:#ff2769;
            }
    >.bg{
        width:130%;
        height:calc(~"100% + 180px");
        left:-15%;
        top:-120px;
        .rotate(-6.5deg);
        .shades{
            width:100%;
            height:20px;
            .bg-black;
            opacity:.2;
            top:100%;
        }
        @media (min-width:@j-break-md-point){
            width:120%;
            height:calc(~"100% + 180px");
            left:-10%;
            top:-120px;
            .rotate(-3.5deg);
            
        }
    }
    .inner.mb{
        padding-top:120px;
        .frame{
        width:  1000px;
        padding-bottom:300px;

        .cloud1{
            width:220px;
            top:80px;
            left:-80px;

        }
        .cloud2{
            width:280px;
            top:100px;
            right:-150px;


        }

        }

        .content{
        width:100%;
        height:100%;
        top:0;
        left:0;
        .bill{
            width:130px;
            
        }
        .bill1{
            left:-2%;
            top:-20px;
            img{.rotate(30deg)}
            
        }
        .bill2{
            right:0%;
            top:-0px;
            img{.rotate(0deg)}
             
        }
        .tit{
            width:500px;
            left:calc(~"50% - 250px");
            top:0px;
 

            .light1{
                left:5px;
                bottom:-40px;
                 
            }
            .light2{
                right:-25px;
                top:55px;
                 
            }
        }
        .sub{
            width:426px;
            top:135px;
            left:170px;
             
        }
        .lowercont{
            width:100%;
            height: auto;
            top:320px;
            margin:0 auto;
            .large{
                .fontsize(3.2rem);
            }
            .smaller{
                .fontsize(1.2rem);
            }



            

            .assets{



                margin-top:100px;
                .charactor{
                    .hint{
                        top:-50px;
                        left:40%;
                    }
                }

                .feature{
                   
                    .t{
                        .abs;
                        width:100%;
                        height:100%;
                        top:0;
                        left:0;
                        padding:40px 0;
                        text-shadow: 0px 0px 10px rgba(0,0,0,1);
                    }


                    &.f1{ 
                        left:100px;
                        top:-130px;
                    }
                    &.f2{ 
                        left:-80px;
                        top:-80px;
                        .scale(.9,.9);
                        .t{
                            .rotate(-25deg);
                        }
                    }
                        &.f3{ 
                            left:280px;
                            top:-100px;
                            .scale(.85,.85);
                            .t{
                            .rotate(15deg);
                            }
                        }

                    }

                    .coins{
                        width:100%;
                        height:100%;
                        left:0;
                        top:0;
                    }
                    .coin{
                        img{
                            .scale(.9,.9);
                        }
                    }
                    .coin0{
                        left:-60px;
                        top:70px;
                    }   
                    .coin1{
                        left:25px;
                        top:90px;
                    }
                    .coin2{
                        left:48%;
                        top:-50px;
                        img{
                            .scale(.6,.6);
                        }
                    }
                    .coin3{
                        left:350px;
                        top:20px;
                        img{
                            .scale(.8,.8);
                        }
                    }
                    .coin4{
                        left:340px;
                        top:110px;
                        img{
                            .scale(.6,.6);
                        }
                    }
            }
            .shadows{
                bottom:-17px;
                left:-60px;
            }

            
        }


        .cont650{
                width:650px;
                input{
                    width:100%;
                    .fontsize(1.4rem);
                    padding:0;


                }
                .gray{
                    color:#999;
                }
                .t{

                        width:100%;
                        height:100%;
                        top:0;
                        left:0;
                        padding:20px 0;
                        
                }
             
        }
     }

    }
}


section.container.addposition{
    .bg{
        width:130%;
        height:calc(~"100% + 0px");
        left:-15%;
        top:60px;
        .rotate(6deg);
        .tri{
             width:130%;
             height:360px;
             top:-120px;
             .rotate(-12deg);
        }
        .shades{
            width:100%;
            height:20px;
            .bg-black;
            opacity:.2;
            top:100%;
        }
        .range-pattern{
            width:130%;
            height:180px;
            overflow:hidden;
            bottom:0;
            left:0;
            
            .pattern{
                 width:100%;
                 height:100%;
                 .rotate(-6deg);
                 top:30px;
            }
        }


        
    }

    .inner{
        padding-top:20px;
        .frame{
            width:1000px;
            padding-top:150px;
            padding-bottom:150px;
            
        }
    }

    
    .tit{
         
        width:417px;

        @media (min-width:@j-break-md-point){
             width:328px;
        }
        .light {
                    width: 230px;
                    left: calc(~"50% - 115px");
                    bottom: 90%;
                    @media (min-width:@j-break-md-point){
                        width: 80%; left: 10%;
                    }
                }
    }
    
    .ui{
        width:650px;
        margin:60px auto 20px;
        input{
            // .talign(center);
            width:70%;
            .fontsize(1.5rem);
            color:#666;
            padding:15px 30px;
        }

        .btn-j{
            width:30%;
            top:-3px;
            right:0;
            .t{
                width:100%;
                height:100%;
                top:0;
                left:0;
                padding:15px 0;
            }
        }

    }
    .map{
        
        width:650px;
        height:650px;
        border-radius:15px;
        .bg-white;

    }
    .btn-j{
            
            .t{
                width:100%;
                height:100%;
                top:0;
                left:0;
                padding:15px 0;
            }
        }
}


