
.pop.privacy , .idsample.pop, .facsample.pop, .pop{
    width:100%;
    max-width:750px;
    height:100%;
    top:0;
    .fix;
    z-index:99;
    .bg{
        width:100%;
        height:100%;
        background:#000;
        opacity:.85;
    }
    
    .container-fluid{
        width:100%;

        margin-top:50px;
        padding:0;
        overflow:visible;
        .swiper-container{
            width:100%;
            max-height:calc(~"100% - 270px");
            overflow:hidden;
            .swiper-wrapper{
                

            }
            .swiper-scrollbar{
                background:rgba(255,255,255,.5);
                .swiper-scrollbar-drag{
                    background:rgba(255,255,255,.5);
                }
            }
            // overflow:auto;
            &.h-auto{
                // height:auto;
                // overflow:hidden;
            }
            .cnt{
                width:100%;
                height:auto;
                .h4{
                    line-height:2.6rem;
                }
                .row{

                }
                

            }

        }
        .btn-close{
            .bg-white;
            padding:20px 23px;
            border-radius:35px;
                    
        }
    }
}
// .index{
//    height:auto;

//    @media (min-width:@j-break-lg-point) {
//      height:1099px;
//    }

// }

