<style lang="less" scoped>
  
    .loading.ajax{
      position:fixed;
      width:100%;
      height:100%;
      top:0;left:0;
      background  :rgba(0,0,0,.4);
      z-index:9999;
      .center{
        
        left:50%;
        top:50%;
          .ld{
            width:120px;
            left:-60px;
            top:-60px;
          }
      }
    }

</style>
<template lang="pug">

transition( :duration="{ enter:300, leave: 300 }" ,name='fade', mode='out-in')
  .loading.ajax(v-show='loadingajax')
    .center.abs
      .ld.abs
        img.img-fluid(src="img/loading-ajax.svg")
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['loadingajax']),
  },
  watch:{
  		// percentLoading:function(val){
  		// 	//console.log(val + '....percentLoading');
  		// 	if(val == 100){
      //       TweenMax.to($('.loading .bg') , 1, {delay:.5 , opacity:0})
  		// 	}
  		// }
  },
};
</script>