<style lang="less" scoped>
@import "../css/base/config.less";
@import "../css/base/mixin.less";
.loading{
      position:fixed;
      width:100%;
      height:100%;
      top:0;left:0;
      background  :#110949;
      //rgba(0,0,0,.1);
      z-index:9999;
      .center{
        left:50%;
        top:50%;
          .ld{
            width:260px;
            left:-130px;
            top:-190px;
            .scale(.75 , .75);
            .logo{
              width:100px;
              top:-160px;
              left:80px;
            }
            .mat{
              left:-60px;
              top:120px;
            }
            .ges{
                width:260px;
                top:0;
                left:0;
                opacity: 0;

                &.ges2{
                  top:60px;
                }
                &.ges3{
                  top:-70px;
                  left:50px;
                  img{
                    height:   320px;
                  }
                }
                &.ges4{
                  top:60px;
                  left:20px;
                  img{
                   width:340px;
                  }
                }
                &.ges5{
                  top:90px;
                  left:-60px;
                  img{
                    width:   380px;
                  }
                }
                &.ges6{
                  top:70px;
                  left:-0px;
                  img{
                    width:   300px;
                  }
                }
            }
          }
      }
    }

</style>
<template lang="pug">

transition( :duration="{ enter:0, leave: 300 }" ,name='fade', mode='out-in')
  .loading(v-show="loading")
    .center.abs
      .ld.abs
        .logo.abs
          img.img-fluid(src="img/logo.png")
        .mat.abs
          img(src="img/mat.png")
        .ges.abs.ges1
            img(src="img/ges1.svg")
        .ges.abs.ges2
            img(src="img/ges2.svg")
        .ges.abs.ges3
            img(src="img/ges3.svg")
        .ges.abs.ges4
            img(src="img/ges4.svg")
        .ges.abs.ges5
            img(src="img/ges5.svg")
        .ges.abs.ges6
            img(src="img/ges6.svg")
</template>

<script>
import { TweenMax,Linear ,Sine , Expo,Back,Elastic,Cubic} from 'gsap/all';
import utils from '@/util/utils';
import { mapGetters } from 'vuex';
import {jquery} from 'jquery';
let $ = require('jquery');
let interval
let NAME = ".loading"
export default {
  data() {
    return {
       vid:1,
      
    }
  },
  computed: {
    ...mapGetters(['loading']),
  },
  watch:{
    $route(to, from) {
      let dom = $(NAME)
      switch(to.name){
        case "index":
          
          {
            $('.loading').css('background' , "#110949");
            dom.find('.logo').show();
          }
        break;
        default:
          
          {
            $('.loading').css('background' , "rgba(0,0,0,.1)")
            dom.find('.logo').hide();
          }
        break;
      }
    },
    loading:function(val){
          try{
            clearInterval(interval);
          }catch(err){}
        
        if(val){
          let ver = utils.chkIEver();
        if(ver =='IE'){
          $('nav , .footer , .pop  , .loading , .pop').css("position", 'absolute')
        }
          this.startloop ()
        }else{
          
        }
    },
    vid:function(val){
       let dom = $(NAME);
       for(let i =1 ; i<=6;i++){
         let obj = dom.find(".ges"+ i)
         if(i==val){
           
            TweenMax.to(obj , .2 , {opacity:1})
         }else{
          TweenMax.to(obj , .2 , {opacity:0})
         }
       }
    }
  },
  methods:{
    startloop(){
      let self = this;
      self.vid= Math.ceil(Math.random() * 6 )
      const loop =()=>{
              self.vid++;
              if(self.vid >6){
                self.vid =1;
              }

            }
      interval = setInterval(loop , 500);
    }
  },
  mounted(){
     this.startloop();
  }
};
</script>