<script>
// import { TweenMax,Linear ,Sine , Expo,Back,Elastic,Cubic , Circ} from 'gsap';
import { mapActions, mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
// import  axios  from 'axios';
import { config } from '@/util/config';
import {jquery} from 'jquery';
import { imagesloaded } from 'imagesloaded';
import utils from '@/util/utils';
import device from "current-device";
let $ = require('jquery');
let imagesLoaded = require('imagesloaded');
let dom = $('.detail');
let self;
let sprites =[];
let ovh =0;
let interval
let observer
let NAME = '.detail'
export default {
	data() {
		return {
			 default:18,
		}
	},
	computed: {
		 ...mapGetters(['loaded' , 'sections' , 'gotoLevel']),
		 // gotolevel(){
		 // 	return this.$store.state.gotoLevel;
		 // },
		 data(){
		 	let self = this;
			let d;
			 d = $.grep(config.levels, function(item, index) {
				return item.lev === self.gotoLevel;
			});
			let lev = (d[0].lev < 10)? '0'+d[0].lev : d[0].lev
			return  {lev:lev , name :d[0].name , steps:d[0].steps, img:d[0].img};
		 }
	},
	watch:{
		loaded:function(value){
			if(value == 1){
				this.initial();
				
			}
		},
		
	},
	methods:{
		...mapActions(['loading' , 'loadingajax' , 'PoseHinting']),
		goform(){
			// this.$router.push('/form')
		}

		,
		clkEffect(obj , cb){
			TweenMax.to(obj.find('.bg-yellow , .t'), .1, {y:4,onComplete:()=>{
				TweenMax.to(obj.find('.bg-yellow,.t'),.2 ,{y:0,onComplete: cb});
			}})
		},
		bind(){
			let self = this; 
			let dom = $(NAME);
			

			dom.find(".btn").off('click').click(function(){
				let lev = Number (self.gotoLevel);
				let complev =Number (utils.getCookie('complevel')) ;
				

				let label = config.posesGa[lev-1];
				utils.gTagEvent(label , 'click' ,  'finish' );
				if(complev<lev){
					utils.setCookie('complevel' , lev  , 365);
					self.$store.state.justbreak = lev
				}else{

				}
				
				if(lev==18){
					self.$store.state.PoseHintMsg = `<p class="h1">成功挑戰18個姿勢<br>恭喜成為姿勢達人！</p><p class="h2">👏👏👏👏👏👏</p>`;
				}else{
					
					let d = $.grep(config.levels, function(item, index) {
  						return item.lev ===  lev + 1;
					});
					self.$store.state.PoseHintMsg = `挑戰成功！<br><p class="h1">繼續前往下一關<br>【${d[0].name}】吧！</p>`;
				}
				
				self.clkEffect($(this) , ()=>{

					self.PoseHinting(true);
					// self.$router.push('game')
				})

				

			})

			let lev = Number (self.gotoLevel);
			let label = config.posesGa[lev-1];
			self.$store.state.justfrom = lev
			utils.GtagCfg(config.GaIdUA, `./#/detail`, `./${label}.html` )
		},
		
		loopanim(act){
			let dom = $(NAME)
			let max = 20
			let repeatcount = 0
			if(act){
				dom.find('.splash >img , .splash1-svg svg').each(function(){
					TweenMax.fromTo($(this) , 3.25 , {  y:-20 } , { y:70  ,  yoyo:true, repeat:-1,ease:Sine.easeInOut})

					TweenMax.fromTo($(this) , 4.5 , {  x:10 } , { x: -70 ,  yoyo:true, repeat:-1,ease:Sine.easeInOut})
				})
			}else{
				dom.find('.splash > img, .splash1-svg svg').each(function(){
					TweenMax.killTweensOf($(this))
				})
			}
		},
		gestureAnim(lv){
			let dom= $(NAME)
			let self = this;
			let dfTime = .75;
			let loopT = 0.4
			let ease = "Back.easeIn"
			let easeCalm = "Sine.easeInOut"
			function killloop(objs){
				for(let i in objs){
					TweenMax.killTweensOf(objs[i])
				}
			}

			switch(lv){
				case 1:
					{
						let hand = dom.find('.hand') , leg = dom.find('.leg');
						killloop([hand , leg]);
						TweenMax.set(hand , {transformOrigin:'474px 253px', rotation:40})
						TweenMax.set(leg , {transformOrigin:'375px 240px', rotation:-40})
						let d = .3
						TweenMax.to(hand , dfTime , {delay:.75 , rotation:0 , transformOrigin:'474px 253px' , ease:Back.easeOut , onComplete:loop})
						TweenMax.to(leg , dfTime , {delay:.6 , rotation:0 , transformOrigin:'375px 240px' , ease:Back.easeInOut, onComplete:()=>{
						}})

						function loop(){
							ease = "Sine.easeInOut"
							d=.3
							loopT = 1;
							TweenMax.to(hand ,loopT , {repeatDelay: 0 ,delay:d, rotation:4 , transformOrigin:'474px 253px' ,yoyo:true, repeat:-1 ,ease:ease })
							TweenMax.to(leg , loopT , {repeatDelay: 0 ,delay:d+.05 , rotation:-4 , transformOrigin:'375px 240px'  ,yoyo:true, repeat:-1 ,ease:ease})
						}
					}
				break;
				case 2:
					{
						let handl = dom.find('.handl') ,handr = dom.find('.handr') , 
						legs = dom.find('.legs'), body = dom.find('.body') ;
						dfTime = 1.5

						let d = .4
						loopT = .4
						TweenMax.set(legs , {transformOrigin:'499px 384px', rotation:26})
						TweenMax.set(body , {transformOrigin:'284px 373px', rotation:10 , x:40 , y:-10})
						TweenMax.set(handl , { x:100 , y:-20})
						TweenMax.set(handr , { x:100 , y:-20})
						// TweenMax.set(leg , {transformOrigin:'375px 240px', rotation:-40})


						TweenMax.to(legs , dfTime , {delay:d , rotation:0 , transformOrigin:'499px 384px' , ease:Back.easeInOut, onComplete:loop})
						TweenMax.to(body , dfTime , {delay:d , rotation:0 , x:0 , y:0 , transformOrigin:'284px 373px' , ease:Back.easeInOut })
						TweenMax.to(handl , .8 , {delay:d+.3 , rotation:0 , x:0 , y:0 , ease:Sine.easeInOut})
						TweenMax.to(handr , .8 , {delay:d+.3 , rotation:0 , x:0 , y:0 , ease:Sine.easeInOut})

						function loop(){
							loopT =  1.2
							ease = "Sine.easeInOut"
							TweenMax.to(legs , loopT , {  delay:.5 , rotation:4 , transformOrigin:'499px 384px' ,yoyo:true, repeat:-1 ,ease:ease })
							TweenMax.to(body , loopT , {  delay:.5 , rotation:1.6 , x:7 , y:-2 , transformOrigin:'284px 373px' ,yoyo:true, repeat:-1 ,ease:ease })
						}
					}
				break;
				case 3:
					{
						let handl = dom.find('.handl') ,handr = dom.find('.handr') , 
						legl = dom.find('.legl'),legr = dom.find('.legr'), 
						
						body = dom.find('.body') ;

						dfTime = 1
						let d = .4

						TweenMax.set(legl , {transformOrigin:'181px 136px', rotation:25 , x:-5 ,y:-5})
						TweenMax.set(legr , {transformOrigin:'266px 136px', rotation:25})
						TweenMax.set(body , {transformOrigin:'478px 306px', rotation:-20})
						TweenMax.set(handr , {transformOrigin:'562px 390px', rotation:-20})
						TweenMax.set(handl , {transformOrigin:'562px 390px', rotation:-20});

						TweenMax.to(legl  , dfTime, {delay:d ,transformOrigin:'181px 136px', rotation:0 , x:0 ,y:0, ease:Back.easeInOut, onComplete:loop})
						TweenMax.to(legr  , dfTime, {delay:d ,transformOrigin:'266px 136px', rotation:0, ease:Back.easeInOut, onComplete:()=>{
							
						}})
						TweenMax.to(body  , dfTime, {delay:d ,transformOrigin:'478px 306px', rotation:0, ease:Back.easeInOut, onComplete:()=>{
							
						}})
						TweenMax.to(handr , dfTime, {delay:d ,transformOrigin:'562px 390px', rotation:0, ease:Back.easeOut, onComplete:()=>{
							
						}})
						TweenMax.to(handl , dfTime, {delay:d ,transformOrigin:'562px 390px', rotation:0, ease:Back.easeOut, onComplete:()=>{
							
						}});

						function loop(){
							loopT = 1.1
							ease = "Sine.easeInOut"
							TweenMax.to(legl  , loopT, { delay:.5  ,transformOrigin:'181px 136px',rotation:4 , x:-1 ,y:-1,yoyo:true, repeat: -1 ,ease:ease})
							TweenMax.to(legr  , loopT, { delay:.5  ,transformOrigin:'266px 136px', rotation:4,yoyo:true, repeat: -1 ,ease:ease})
							TweenMax.to(body  , loopT, { delay:.5   ,transformOrigin:'478px 306px', rotation:-3,yoyo:true, repeat: -1 ,ease:ease})
							TweenMax.to(handr , loopT, { delay:.5   ,transformOrigin:'562px 390px', rotation:-3,yoyo:true, repeat: -1 ,ease:ease})
							TweenMax.to(handl , loopT, { delay:.5   ,transformOrigin:'562px 390px', rotation:-2.5,yoyo:true, repeat: -1 ,ease:ease})
						}

					}
				break;
				case 4:
					{
						let legld = dom.find('.legld'),leglu = dom.find('.leglu'),legr = dom.find('.legr'), 
						legl = dom.find('.legl'), body = dom.find('.body') ;

						dfTime = 1
						let d = .3;

						TweenMax.set(body , {transformOrigin:'344px 78px', rotation:-20 })
						TweenMax.set(leglu, {transformOrigin:'327px 115px', rotation:-30})
						TweenMax.set(legld, {transformOrigin:'327px 115px', rotation:-30 })

						// loopT =1

						TweenMax.to(body ,dfTime, {delay:d ,transformOrigin:'344px 78px', rotation:0 , ease:Expo.easeOut , onComplete:  loop })
						TweenMax.to(leglu,dfTime, {delay:d+.2 ,transformOrigin:'327px 115px', rotation:0, ease:Back.easeOut})
						TweenMax.to(legld,dfTime, {delay:d+.2 ,transformOrigin:'327px 115px', rotation:0, ease:Back.easeOut})
						
						function loop(){
							loopT = 1.2
							ease = "Sine.easeInOut"
							TweenMax.to(body ,loopT, {delay:.5    ,transformOrigin:'344px 78px' ,x:-4, y:7, rotation:-2,yoyo:true, repeat:-1 ,ease:ease })
							// TweenMax.to(leglu,loopT, {delay:1.6    ,transformOrigin:'327px 115px', rotation:-5,yoyo:true, repeat:-1 ,ease:easeCalm })
							// TweenMax.to(legld,loopT, {delay:1.6    ,transformOrigin:'327px 115px', rotation:-5, y:0,yoyo:true, repeat:-1 ,ease:easeCalm , onComplete:loop})
						}
						
					}
				break;
				case 5:
					{
						let legl = dom.find('.legl'),legr = dom.find('.legr'), 
						handl = dom.find('.handl') ,handr = dom.find('.handr') , body = dom.find('.body') ;

						dfTime = .7
						let d = .3;

						TweenMax.set(body , {transformOrigin:'444px 187px', rotation:30 })
						TweenMax.set(handl, {transformOrigin:'444px 187px', rotation:30})
						TweenMax.set(handr, {transformOrigin:'444px 187px', rotation:30 })

						TweenMax.set(legl, {transformOrigin:'444px 218px', rotation:5})
						TweenMax.set(legr, {transformOrigin:'444px 218px', rotation:8 })

						TweenMax.to(body , dfTime, {delay:d ,transformOrigin:'444px 187px', rotation:0 , ease:Sine.easeInOut,onComplete:loop})
						TweenMax.to(handl ,dfTime, {delay:d ,transformOrigin:'444px 187px', rotation:0 , ease:Sine.easeInOut  })
						TweenMax.to(handr ,dfTime, {delay:d ,transformOrigin:'444px 187px', rotation:0 , ease:Sine.easeInOut  })
						TweenMax.to(legl, dfTime, {delay:d+.2 ,transformOrigin:'444px 218px', rotation:0, ease:Sine.easeOut })
						TweenMax.to(legr, dfTime, {delay:d+.2 ,transformOrigin:'444px 218px', rotation:0, ease:Sine.easeOut })
						ease = 'ease.BackOut'

						function loop(){
							loopT = 1.2
							d=.5
							TweenMax.to(legl, loopT,   {delay:d ,transformOrigin:'444px 218px', rotation:1,yoyo:true, repeat:-1, ease:Sine.easeOut })
							TweenMax.to(legr, loopT,   {delay:d ,transformOrigin:'444px 218px', rotation:2,yoyo:true, repeat:-1, ease:Sine.easeOut })
							TweenMax.to(body , loopT,  {delay:d,transformOrigin:'444px 187px', rotation:3,yoyo:true, repeat:-1 ,ease:Sine.easeInOut})
							// TweenMax.to(handl , loopT, {delay:1.6  ,transformOrigin:'444px 187px', rotation:6,yoyo:true, repeat:1 ,ease:ease})
							// TweenMax.to(handr , loopT, {delay:1.6  ,transformOrigin:'444px 187px', rotation:6,yoyo:true, repeat:1 ,ease:ease,onComplete:loop})
						}
					}
				break;
				case 6:
					{
						let hand = dom.find('.hand') , body = dom.find('.body');
						dfTime = .7;
						let d = .4;
						loopT = .5
						TweenMax.set(body , {transformOrigin:'275px 346px', rotation:30 ,y:-10})
						TweenMax.set(hand , {transformOrigin:'206px 176px', rotation:-10  , x:90})


						TweenMax.to(hand , .7, {delay:d ,transformOrigin:'206px 176px', rotation:0,  ease:Sine.easeInOut,onComplete:loop})
						TweenMax.to(hand , dfTime, {delay:d  , x:0,  ease:Sine.easeInOut })
						TweenMax.to(body , dfTime, {delay:d  , transformOrigin:'275px 346px',y:0, rotation:0 , ease:Sine.easeInOut })


						function loop(){
							loopT = 1.2;
							d=.5
							ease = "Sine.easeInOut";
							TweenMax.to(body , loopT, { delay:d  , transformOrigin:'275px 346px', y:-2, rotation:-3 ,yoyo:true, repeat:-1 ,ease:ease})
							TweenMax.to(hand , loopT, { delay:d  ,transformOrigin:'206px 176px',x:-6, rotation:-2.5 ,yoyo:true, repeat: -1 ,ease:ease })
						}

					}
				break;
				case 7:
					{
						let handl = dom.find('.handl') ,handr = dom.find('.handr') , body = dom.find('.body');
						dfTime = 1;
						let d = .4;

						TweenMax.set(body , {transformOrigin:'462px 103px', rotation:50  })
						TweenMax.set(handl , {transformOrigin:'462px 103px', rotation:45  })
						TweenMax.set(handr , {transformOrigin:'462px 103px', rotation:45  })

						TweenMax.to(body ,dfTime, {delay:d  ,transformOrigin:'462px 103px', rotation:0 , ease:Cubic.easeInOut , onComplete:loop })
						TweenMax.to(handl,dfTime, {delay:d  ,transformOrigin:'462px 103px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.to(handr,dfTime, {delay:d  ,transformOrigin:'462px 103px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.fromTo(handl.find('img'),dfTime,  {rotation:-50,transformOrigin:'342px 203px'}, {delay:d  ,transformOrigin:'342px 203px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.fromTo(handr.find('img'),dfTime,  {rotation:-50,transformOrigin:'342px 203px'}, {delay:d  ,transformOrigin:'342px 203px', rotation:0 , ease:Cubic.easeInOut })


						function loop(){

							let d =1;
							loopT =1
							ease = "Sine.easeInOut";
							TweenMax.to(body ,loopT, {delay:d  ,transformOrigin:'462px 103px', rotation:4 ,yoyo:true, repeat:-1 ,ease:ease })
							TweenMax.to(handl,loopT, {delay:d  ,transformOrigin:'462px 103px', rotation:3 ,yoyo:true, repeat:-1 ,ease:ease })
							TweenMax.to(handr,loopT, {delay:d  ,transformOrigin:'462px 103px', rotation:3 ,yoyo:true, repeat:-1 ,ease:ease })
							TweenMax.to(handl.find('img'),loopT,   {delay:d  ,transformOrigin:'342px 203px', rotation:-5 ,yoyo:true, repeat:-1,ease:ease })
							TweenMax.to(handr.find('img'),loopT,   {delay:d  ,transformOrigin:'342px 203px', rotation:-5 ,yoyo:true, repeat:-1,ease:ease })
						}



					}
				break;
				case 8:
					{
						let leglu = dom.find('.leglu') ,legld = dom.find('.legld') ,
						legru = dom.find('.legru') ,legrd = dom.find('.legrd') ,
						body = dom.find('.body');
						dfTime = .85;
						let d = .4;

						TweenMax.set(body , {transformOrigin:'281px 197px', rotation:10  })
						TweenMax.set(leglu , {transformOrigin:'281px 197px', rotation:10  })
						TweenMax.set(legld , {transformOrigin:'281px 197px', rotation:10  })
						TweenMax.set(legru , {transformOrigin:'281px 197px', rotation:5  })
						TweenMax.set(legrd , {transformOrigin:'281px 197px', rotation:5  })

						TweenMax.to(body ,dfTime, {delay:d  ,transformOrigin:'281px 197px', rotation:0 , ease:Cubic.easeInOut  , onComplete:loop})
						TweenMax.to(leglu ,dfTime, {delay:d  ,transformOrigin:'281px 197px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.to(legld ,dfTime, {delay:d  ,transformOrigin:'281px 197px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.to(legru ,dfTime, {delay:d  ,transformOrigin:'281px 197px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.to(legrd ,dfTime, {delay:d  ,transformOrigin:'281px 197px', rotation:0 , ease:Cubic.easeInOut })

						TweenMax.fromTo(legld.find('img'), dfTime,  {rotation:-30 , y:10,transformOrigin:'502px 313px'}, {delay:d  ,transformOrigin:'502px 313px', rotation:0, y:0 , ease:Cubic.easeInOut })
						TweenMax.fromTo(legrd.find('img'), dfTime,  {rotation:-20,transformOrigin:'502px 313px'}, {delay:d   ,transformOrigin:'502px 313px', rotation:0 , ease:Cubic.easeInOut })

						function loop(){
							let d = 1;
							loopT = 1.2
							ease = "Sine.easeInOut";
							TweenMax.to(body ,loopT, {delay:d  ,transformOrigin:'281px 197px', rotation:3  ,yoyo:true, repeat:-1, ease:ease })
							TweenMax.to(leglu ,loopT, {delay:d  ,transformOrigin:'281px 197px', rotation:3 ,yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(legld ,loopT, {delay:d  ,transformOrigin:'281px 197px', rotation:3 ,yoyo:true, repeat:-1, ease:ease })
							TweenMax.to(legru ,loopT, {delay:d  ,transformOrigin:'281px 197px', rotation:1.5 ,yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(legrd ,loopT, {delay:d  ,transformOrigin:'281px 197px', rotation:1.5 ,yoyo:true, repeat:-1, ease:ease })

							TweenMax.to(legld.find('img'), loopT, {delay:d  ,transformOrigin:'502px 313px', rotation:-6, y:-2 ,yoyo:true, repeat:-1, ease:ease })
							TweenMax.to(legrd.find('img'), loopT, {delay:d   ,transformOrigin:'502px 313px', rotation:-4 ,yoyo:true, repeat:-1, ease:ease })
						}

					}
				break;
				case 9:
					{
						let foot = dom.find('.foot') ,hands = dom.find('.hands') ,
						legru = dom.find('.legru') ,legrd = dom.find('.legrd') ,
						body = dom.find('.body');
						dfTime = 1;
						let d = .4;
						TweenMax.set(body , {transformOrigin:'391px 303px', rotation:30  })
						TweenMax.set(hands , {transformOrigin:'391px 303px', rotation:30  })
						TweenMax.set(legru , {transformOrigin:'391px 303px', rotation:-5  })
						TweenMax.set(legrd , {transformOrigin:'391px 303px', rotation:-5  })
						TweenMax.set(foot , {transformOrigin:'391px 303px', rotation:-5  })
						TweenMax.to(body ,dfTime, {delay:d  ,transformOrigin: '391px 303px', rotation:0 , ease:Back.easeInOut , onComplete:loop})
						TweenMax.to(hands ,dfTime, {delay:d  ,transformOrigin:'391px 303px', rotation:0 , ease:Back.easeInOut })
						TweenMax.to(foot ,dfTime, {delay:d  ,transformOrigin:'391px 303px', rotation:0 , ease:Back.easeInOut })
						TweenMax.to(legru ,dfTime, {delay:d  ,transformOrigin:'391px 303px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.to(legrd ,dfTime, {delay:d  ,transformOrigin:'391px 303px', rotation:0 , ease:Cubic.easeInOut })
						TweenMax.fromTo(hands.find('img'), dfTime,  {rotation:-30 , y:10,transformOrigin:'251px 209px'}, {delay:d  ,transformOrigin:'251px 209px', rotation:0, y:0 , ease:Cubic.easeInOut })

						function loop(){
							d=1;
							loopT = 1
							ease = "Sine.easeInOut"
							TweenMax.to(body  ,loopT, {delay:d  ,transformOrigin: '391px 303px', y:5 , x:-5 , rotation:4 ,yoyo:true, repeat:-1, ease:ease})
							// TweenMax.to(hands ,loopT, {delay:d  ,transformOrigin:'391px 303px', rotation:6 ,yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(foot  ,loopT, {delay:d  ,transformOrigin:'391px 303px', rotation:-1  ,yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(legru ,loopT, {delay:d  ,transformOrigin:'391px 303px', rotation:-4, y:5 ,yoyo:true, repeat:-1, ease:ease })
							TweenMax.to(legrd ,loopT, {delay:d  ,transformOrigin:'391px 303px', rotation:-2, y:2 ,yoyo:true, repeat:-1, ease:ease})
							// TweenMax.to(hands.find('img'), loopT,{delay:d    ,transformOrigin:'251px 209px', rotation:-5, y:2 , yoyo:true, repeat:-1, ease:ease })
						}

					}
				break;
				case 10:
					{
						let handl = dom.find('.handl') ,handr = dom.find('.handr') ,
						legs = dom.find('.legs') ,
						body = dom.find('.body');
						dfTime = 1;
						let d = .4;
						
						TweenMax.set(body , {transformOrigin:'375px 381px', rotation:-10 ,x:10 })
						TweenMax.set(handr , {transformOrigin:'375px 381px', rotation:-10 ,x:10 })
						TweenMax.set(handl , {transformOrigin:'375px 381px', rotation:-10 ,x:10 })
						TweenMax.set(legs , {transformOrigin:'375px 381px', rotation:10  })

						TweenMax.to(body ,dfTime, {delay:d  ,transformOrigin: '375px 381px', rotation:0  , x:0, ease:Back.easeInOut, onComplete:loop })
						TweenMax.to(handr ,dfTime, {delay:d  ,transformOrigin: '375px 381px', rotation:0  , x:0, ease:Back.easeInOut })
						TweenMax.to(handl ,dfTime, {delay:d  ,transformOrigin: '375px 381px', rotation:0  , x:0, ease:Back.easeInOut })
						TweenMax.to(legs ,dfTime, {delay:d  ,transformOrigin: '375px 381px', rotation:0  , x:0, ease:Back.easeInOut })

						TweenMax.fromTo(handr.find('img'), dfTime,  {rotation:20 , y:0,transformOrigin:'431px 214px'}, {delay:d ,transformOrigin:'431px 214px', rotation:0, y:0 , ease:Cubic.easeInOut })
						TweenMax.fromTo(handl.find('img'), dfTime,  {rotation:20 , y:0,transformOrigin:'431px 214px'}, {delay:d ,transformOrigin:'431px 214px', rotation:0, y:0 , ease:Cubic.easeInOut })

						function loop(){
							d=1;
							loopT = 1
							ease = "Sine.easeInOut"
							TweenMax.to(body ,loopT, {delay:d  ,transformOrigin: '375px 381px', rotation:-2  , x:2 ,yoyo:true,  repeat:-1, ease:ease})
							TweenMax.to(handr ,loopT, {delay:d  ,transformOrigin: '375px 381px', rotation:-2  , x:2 ,yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(handl ,loopT, {delay:d  ,transformOrigin: '375px 381px', rotation:-2  , x:2 ,yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(legs ,loopT, {delay:d  ,transformOrigin: '375px 381px', rotation:1  ,yoyo:true, repeat:-1, ease:ease })

							TweenMax.to(handr.find('img'), loopT,   {delay:d ,transformOrigin:'431px 214px', rotation:1, y:0 ,yoyo:true, repeat:1,  ease:ease })
							TweenMax.to(handl.find('img'), loopT,   {delay:d ,transformOrigin:'431px 214px', rotation:1, y:0 ,yoyo:true, repeat:1,  ease:ease })
						}
					}
				break;
				case 11:
					{
						let handl = dom.find('.handl') ,handr = dom.find('.handr') ,
						leg = dom.find('.leg') ;
						dfTime = 1;
						let d = .4;
						TweenMax.set(handr , {transformOrigin:'471px 129px', rotation:-20   })
						TweenMax.set(handl , {transformOrigin:'525px 129px', rotation:50   })
						TweenMax.set(leg , {transformOrigin:'390px 152px', rotation:-40  })
						
						TweenMax.to(handr ,dfTime, {delay:d  ,transformOrigin: '471px 129px', rotation:0  , x:0, ease:Cubic.easeInOut , onComplete:loop })
						TweenMax.to(handl ,dfTime, {delay:d  ,transformOrigin: '525px 129px', rotation:0  , x:0, ease:Cubic.easeInOut  })
						TweenMax.to(leg ,dfTime * 1.1, {delay:d  ,transformOrigin: '390px 152px', rotation:0  , x:0, ease:Back.easeInOut  })

						function loop(){
							d=1;
							loopT = 1
							ease = "Sine.easeInOut";
							TweenMax.to(handr ,loopT, {delay:d  ,transformOrigin: '471px 129px', rotation:-3  , x:0,yoyo:true, repeat:-1, ease:ease   })
							TweenMax.to(handl ,loopT, {delay:d  ,transformOrigin: '525px 129px', rotation:6  , x:0,yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(leg ,loopT * 1.1, {delay:d  ,transformOrigin: '390px 152px', rotation:-5  , x:0,yoyo:true, repeat:-1, ease:ease  })
						}
					}
				break;
				case 12:
					{
						let legl = dom.find('.legl') ,legr = dom.find('.legr') ,
						body = dom.find('.body') ;
						dfTime = 1;
						let d = .4;
						TweenMax.set(body , {transformOrigin:'396px 324px', rotation:20   })
						TweenMax.set(legl , {transformOrigin:'396px 324px', rotation:20   })
						TweenMax.set(legr , {transformOrigin:'396px 324px', rotation:20   })


						TweenMax.to(body ,dfTime, {delay:d  ,transformOrigin: '396px 324px', rotation:0  , x:0, ease:Cubic.easeInOut , onComplete:loop })
						TweenMax.to(legr ,dfTime, {delay:d  ,transformOrigin: '396px 324px', rotation:0  , x:0, ease:Cubic.easeInOut  })
						TweenMax.to(legl ,dfTime, {delay:d  ,transformOrigin: '396px 324px', rotation:0  , x:0, ease:Cubic.easeInOut  })

						TweenMax.fromTo(legr.find('img'), dfTime,  {rotation:40 ,x:10, y:10,transformOrigin:'433px 179px'}, {delay:d ,transformOrigin:'433px 179px', rotation:0, y:0,x:0 , ease:Back.easeInOut })
						TweenMax.fromTo(legl.find('img'), dfTime,  {rotation:40 ,x:10, y:10, y:10,transformOrigin:'433px 179px'}, {delay:d ,transformOrigin:'433px 179px', rotation:0, y:0,x:0 ,ease:Back.easeInOut })


						function loop(){
							d= .7;
							loopT = 1.2
							ease = "Sine.easeInOut"
							TweenMax.to(body ,loopT, {delay:d  ,transformOrigin: '396px 324px', rotation:3  , x:0,yoyo:true, repeat:-1, ease:ease   })
							TweenMax.to(legr ,loopT, {delay:d  ,transformOrigin: '396px 324px', rotation:3  , x:0,yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(legl ,loopT, {delay:d  ,transformOrigin: '396px 324px', rotation:3  , x:0,yoyo:true, repeat:-1, ease:ease   })

							TweenMax.to(legr.find('img'), loopT,   {delay:d ,transformOrigin:'433px 179px', rotation:3, y:1,x:1 ,yoyo:true, repeat:-1, ease:ease })
							TweenMax.to(legl.find('img'), loopT,   {delay:d+.2 ,transformOrigin:'433px 179px', rotation:3.5, y:1,x:1 ,yoyo:true, repeat:-1, ease:ease  })
						}
					}
				break;
				case 13:
					{
						let legl = dom.find('.legl') , legr = dom.find('.legr') 
						
						dfTime = 1;
						let d = .4;
						TweenMax.set(legr , {transformOrigin:'436px 275px', rotation:-30   })
						TweenMax.set(legl , {transformOrigin:'436px 275px', rotation:70   })
						
						TweenMax.to(legr ,dfTime, {delay:d  ,transformOrigin: '436px 275px', rotation:0  , x:0, ease:Back.easeOut  , onComplete:loop })
						TweenMax.to(legl ,dfTime, {delay:d  ,transformOrigin: '436px 275px', rotation:0  , x:0, ease:Back.easeOut  })


						function loop(){
							d= .7;
							loopT = 1
							ease = "Sine.easeInOut"
							TweenMax.to(legr ,loopT, {delay:d  ,transformOrigin: '436px 275px', rotation:-1 , x:0, yoyo:true, repeat:-1, ease:ease})
							TweenMax.to(legl ,loopT, {delay:d  ,transformOrigin: '436px 275px', rotation:2  , x:0, yoyo:true, repeat:-1, ease:ease  })
						}
					}
				break;

				case 14:
					{
						let body = dom.find('.body') , legl = dom.find('.legl') ,
						 handl = dom.find('.handl') ,handr = dom.find('.handr') ,
						legru = dom.find('.legru') ,legrd = dom.find('.legrd') ;
						dfTime = 1;
						let d = .4;
						TweenMax.set(body , {transformOrigin:'300px 300px', rotation:0 , x:60 ,y:5  })
						TweenMax.set(legl , {transformOrigin:'330px 300px', rotation:-50 , x:50 ,y:0  })
						TweenMax.set(legru , {transformOrigin:'300px 300px', rotation:20 , x:60   })
						TweenMax.set(legrd , {transformOrigin:'300px 300px', rotation:0 , x:30 ,y:-5   })
						
						TweenMax.set(handr , {transformOrigin:'468px 322px', rotation:5 , x:0   })
						TweenMax.set(handl , {transformOrigin:'468px 322px', rotation:5 , x:0   })


						TweenMax.to(body,dfTime,  {delay:d  ,transformOrigin:'300px 300px', rotation:0 , x:0 ,y:0 , ease:Back.easeOut  , onComplete:loop})
						TweenMax.to(legl,dfTime,  {delay:d  ,transformOrigin:'330px 300px', rotation:0 , x:0 ,y:0 , ease:Back.easeOut  })
						TweenMax.to(legru,dfTime, {delay:d  ,transformOrigin:'300px 300px', rotation:0 , x:0 ,y:0 , ease:Back.easeOut  })
						TweenMax.to(legrd,dfTime, {delay:d  ,transformOrigin:'300px 300px', rotation:0 , x:0 ,y:0 , ease:Back.easeOut  })

						TweenMax.to(handr,dfTime, {delay:d  ,transformOrigin:'468px 322px', rotation:0 , x:0 ,y:0 , ease:Cubic.easeOut  })
						TweenMax.to(handl,dfTime, {delay:d  ,transformOrigin:'468px 322px', rotation:0 , x:0 ,y:0 , ease:Cubic.easeOut  })


						function loop(){
							d= .8;
							loopT = 1
							ease = "Sine.easeInOut"
							TweenMax.to(body,loopT,  {delay:d  ,transformOrigin:'300px 300px', rotation:0 , x:6 ,y:2 , yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(legl,loopT,  {delay:d  ,transformOrigin:'330px 300px', rotation:-5 , x:5 ,y:0 , yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(legru,loopT, {delay:d  ,transformOrigin:'300px 300px', rotation:2 , x:6 ,y:0 , yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(legrd,loopT, {delay:d  ,transformOrigin:'300px 300px', rotation:0 , x:3 ,y:-1 , yoyo:true, repeat:-1, ease:ease  })

							TweenMax.to(handr,loopT, {delay:d  ,transformOrigin:'468px 322px', rotation:.5 , x:0 ,y:0 , yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(handl,loopT, {delay:d  ,transformOrigin:'468px 322px', rotation:.5 , x:0 ,y:0 , yoyo:true, repeat:-1, ease:ease })
						}
					}
				break;
				case 15:
					{
						let body = dom.find('.body') , legs = dom.find('.legs');
						dfTime = .75;
						let d = .5;
						TweenMax.set(body , {  x:0 ,y:65  })
						TweenMax.set(legs , {  x:0 ,y:15  })
						
						TweenMax.to(body ,dfTime, {delay:d , y:-10, ease:Sine.easeOut, onComplete:function(){
							TweenMax.to(body , .3 , {  x:0 ,y:0  , ease:Sine.easeOut})
							loop();
						}})
						TweenMax.to(legs ,.6, {delay:d , y:0, ease:Back.easeOut} )


						function loop (){
							d=1;
							loopT =1
							ease = "Sine.easeInOut"
							TweenMax.to(body ,loopT, {delay:d , y:6,yoyo:true, repeat:-1, ease:ease })
							TweenMax.to(legs ,loopT, {delay:d , y:1.5, yoyo:true, repeat:-1, ease:ease} )
						}
					}
				break;
				case 16:
					{
						let legu = dom.find('.legu') , legd = dom.find('.legd');
						dfTime = 1.2;
						let d = .4;
						TweenMax.set(legu , { transformOrigin:'386px 345px' ,rotation:-30  })
						TweenMax.set(legd , { transformOrigin:'386px 345px' ,rotation:-30  })

						TweenMax.to(legu ,dfTime, {delay:d  ,transformOrigin: '386px 345px', rotation:0  , x:0, ease:Back.easeOut , onComplete:loop })
						TweenMax.to(legd ,dfTime, {delay:d  ,transformOrigin: '386px 345px', rotation:0  , x:0, ease:Back.easeOut })

						function loop(){
							d= .8;
							loopT = 1
							ease = "Sine.easeInOut"
							TweenMax.to(legu ,loopT, {delay:d  ,transformOrigin: '386px 345px', rotation:-3  ,   yoyo:true, repeat:-1, ease:ease   })
							TweenMax.to(legd ,loopT, {delay:d  ,transformOrigin: '386px 345px', rotation:-3  ,   yoyo:true, repeat:-1, ease:ease })
						}
					}
				break;
				case 17:
					{
						let legl = dom.find('.legl') , legr = dom.find('.legr'),
						body = dom.find('.body') ,hand = dom.find('.hand');
						dfTime = .7;
						let d = .4;
						TweenMax.set(body , { transformOrigin:'352px 257px' ,rotation:10 , y:20  })
						TweenMax.set(legl , { transformOrigin:'352px 257px' ,rotation:-10 , y:25 ,x: -10})
						TweenMax.set(legr , { transformOrigin:'352px 257px' ,rotation:-10 , y:25 ,x:-10 })

						TweenMax.set(hand , { transformOrigin:'259px 177px' ,rotation:60 , y:10 ,x:40 })


						TweenMax.to(body ,dfTime, {delay:d  ,transformOrigin: '352px 257px', rotation:0, y:0  , x:0, ease:Back.easeOut  , onComplete:loop })
						TweenMax.to(legl ,dfTime, {delay:d  ,transformOrigin: '352px 257px', rotation:0, y:0  , x:0, ease:Back.easeOut  })
						TweenMax.to(legr ,dfTime, {delay:d  ,transformOrigin: '352px 257px', rotation:0, y:0  , x:0, ease:Back.easeOut  })
						TweenMax.to(hand ,dfTime, {delay:d  ,transformOrigin: '259px 177px', rotation:0, y:0  , x:0, ease:Back.easeOut  })
						

						function loop(){
							d= .8;
							loopT = 1.2
							ease = "Sine.easeInOut"
							TweenMax.to(body ,loopT, {delay:d  ,transformOrigin: '352px 257px', rotation:3, y:4  , x:0,  yoyo:true, repeat:-1, ease:ease   })
							TweenMax.to(legl ,loopT, {delay:d  ,transformOrigin: '352px 257px', rotation:-2, y:5  , x:-2,  yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(legr ,loopT, {delay:d  ,transformOrigin: '352px 257px', rotation:-2, y:5  , x:-2,  yoyo:true, repeat:-1, ease:ease  })
							TweenMax.to(hand ,loopT, {delay:d  ,transformOrigin: '259px 177px', rotation:5, y:2 , x:9,  yoyo:true, repeat:-1, ease:ease  })
						}
					}
				break;
				case 18:
					{
						let  handl = dom.find('.handl') ,handr = dom.find('.handr') ,
						body = dom.find('.body')  ;
						dfTime = 1;
						let d = .4;

						TweenMax.set(body , { transformOrigin:'298px 353px' ,rotation:-5 , y:0  })
						TweenMax.set(handl , { transformOrigin:'298px 353px' ,rotation:50 , y:0  })
						TweenMax.set(handr , { transformOrigin:'298px 353px' ,rotation:50 , y:0  })

						TweenMax.to(body ,dfTime, {delay:d,transformOrigin: '358px 352px', rotation:0, y:0  , x:0, ease:Cubic.easeInOut , onComplete:loop  })
						TweenMax.to(handl ,1.3, {delay:d  ,transformOrigin: '298px 353px', rotation:0, y:0  , x:0, ease:Back.easeOut  })
						TweenMax.to(handr ,1.3, {delay:d  ,transformOrigin: '298px 353px', rotation:0, y:0  , x:0, ease:Back.easeOut  })

						function loop(){ 
							d= 1.2;
							loopT = 1
							ease = "Sine.easeInOut";
							TweenMax.to(body ,loopT, {delay:d,transformOrigin: '358px 352px', rotation:-1, y:0  , x:0, yoyo:true, repeat:-1, ease:ease   })
							TweenMax.to(handl ,loopT, {delay:d  ,transformOrigin: '298px 353px', rotation:1, y:0  , x:0, yoyo:true, repeat:-1, ease:ease   })
							TweenMax.to(handr ,loopT, {delay:d  ,transformOrigin: '298px 353px', rotation:1, y:0  , x:0, yoyo:true, repeat:-1, ease:ease   })
						}

					}
				break;
			}

			// console.log(`ges animation .. ${lv}`)
		},
		anim(act){
			let dom = $(NAME);
			if(act == 'start'){
					let count = 0;
					let d = 0;
					TweenMax.killTweensOf(dom.find('.anim'));
					
					this.gestureAnim(self.gotoLevel);

					dom.find('.anim').each(function() {
						let d = Number($(this).data('d')) + .3;
						let t = Number($(this).data('t'));
						let val = Number($(this).data('val'));
						let orig = ($(this).data('orig'))? $(this).data('orig'):'50% 50%';
						let fromx = Number($(this).data('fromx'));
						let fromy = Number($(this).data('fromy'));
						let op = ($(this).data('op'))? Number ($(this).data('op')):0;
						let ease = ($(this).data('ease'))? $(this).data('ease'):Back.easeOut
						if ($(this).hasClass('anim-up')) {
							if (val) {
								TweenMax.fromTo($(this), t, { opacity: op, y: val }, { delay: d, opacity: 1, y: 0, ease:ease })
							} else if ($(this).hasClass('a-strong')) {
								TweenMax.fromTo($(this), t, { opacity: op, y: 100 }, { delay: d, opacity: 1, y: 0, ease: Back.easeOut })
							} else
								TweenMax.fromTo($(this), t, { opacity: op, y: 120 }, { delay: d, opacity: 1, y: 0, ease: Back.easeOut })
						} else if ($(this).hasClass('anim-d')) {
							if (val) {
								TweenMax.fromTo($(this), t, { opacity: op, y: val }, { delay: d, opacity: 1, y: 0, ease: ease })
							} else
								TweenMax.fromTo($(this), t, { opacity: op, y: -120 }, { delay: d, opacity: 1, y: 0, ease: Back.easeOut })
						} else if ($(this).hasClass('anim-l')) {
							if (val) {
								TweenMax.fromTo($(this), t, { opacity: op, x: val }, { delay: d, opacity: 1, x: 0, ease: Sine.easeOut })
							} else
								TweenMax.fromTo($(this), t, { opacity: op, x: -100 }, { delay: d, opacity: 1, x: 0, ease: Back.easeOut })
						} else if ($(this).hasClass('anim-r')) {
							if (val) {
								TweenMax.fromTo($(this), t, { opacity: op, x: val }, { delay: d, opacity: 1, x: 0, ease: Back.easeOut })
							} else
								TweenMax.fromTo($(this), t, { opacity: op, x: 100 }, { delay: d, opacity: 1, x: 0, ease: Back.easeOut })
						} else if ($(this).hasClass('anim-zi')) {
							if (val) {
								TweenMax.fromTo($(this), t, { opacity: op, scaleX: val, scaleY: val , transformOrigin:orig }, { delay: d, opacity: 1, scaleX: 1, scaleY: 1, transformOrigin:orig, ease: ease })
							} else
								TweenMax.fromTo($(this), t, { opacity: op, scaleX: 0, scaleY: 0 }, { delay: d, scaleX: 1, scaleY: 1, transformOrigin: "50% 50%", ease: Back.easeOut })
						} else if ($(this).hasClass('anim-w')) {
								let val = $(this).data('val')
								TweenMax.fromTo($(this), t, { opacity: op, width:0 }, { delay: d, opacity: 1, width:val, ease: Back.easeOut })
						} else if($(this).hasClass('anim-xy')) {
								

								TweenMax.fromTo($(this), t, { opacity: op, x:fromx , y:fromy }, { delay: d, opacity: 1,x:0,y:0, ease: Back.easeOut })
						} else {
							if (val) {
								TweenMax.fromTo($(this), t, { opacity: val }, { delay: d, opacity: 1, y: 0, ease: Back.easeOut })
							} else
								TweenMax.fromTo($(this), t, { opacity: op }, { delay: d, opacity: 1, y: 0, ease: Back.easeOut })
						}
						count++;
					})
					count = 0;
			} else{
				let count = 0;
				TweenMax.killTweensOf(dom.find('.anim'));
				TweenMax.to(dom.find('.anim') ,.5, {opacity:0})
			}
		},
		resize(enforce=false){
			let dom = $(NAME)
			let vh = Number(utils.getBrowserHeight()) ;
			let target = dom.find('.inner');
			let targeth = Number(target.height()) ;
			let s;
			let offset = 200;
			 
			 
		},
		obcallback(entry){
			for(let i in entry){
					if(entry[i].isIntersecting) {
						this.anim('start');
						this.loopanim(true);
						
					}else{
						this.anim('end');
						this.loopanim(false);
					}
			}
		},
		initial(){
			let self = this;    		
			interval = setInterval(()=>{self.resize()} , 30);			

			if(!observer)
			{
				observer = new IntersectionObserver(self.obcallback,{ threshold: [0]});
			}
			
			let ele = [document.getElementById('detail') ];
			try{
			for(let i in ele){
				observer.observe(ele[i]);
			}
			}catch(err){
			console.log(err);
			}
			self.bind();
			self.resize(true);
			_jf.flush();
		},
		

	},
	beforeCreate(){
		self = this;
		console.log(`beforeCreate`);
		
	},
	beforeMount(){
		self = this;
		console.log(`beforeMount`);
		self.loading(true);
		this.anim('end');
		
	},
	mounted(){
		self = this;
		let dom = $(NAME);
		dom.find('.anim , .b').css('opacity',0)
		if(this.gotoLevel ==0 ){
			this.$store.state.gotoLevel =1;
		}else{

		}
		

		imagesLoaded( '.container', function(){
			console.log('image loaded');
			self.$store.state.loaded++
		});
		//test
		{
			// self.$store.state.gotoLevel = self.default;
			// dom.find('.anim , .b').css('opacity',1)
			// self.anim('start');
		}
		let ver = utils.chkIEver();
			if( ver =='IE' ){
				dom.find('.ie-img').show();
				dom.find('.splash1-svg').hide();
			}else{

			}
		let tl = gsap.timeline({repeat:-1, repeatDelay:0, yoyo:false, defaults:{duration:1.2}})
		tl.to("#point1", {ease:Sine.easeIn , morphSVG:config.paths[2]})
		.to("#point1",   {ease:Sine.easeOut, morphSVG:config.paths[1], duration:.8 })
		.to("#point1", 	 {ease:Sine.easeInOut, morphSVG:config.paths[0]})
		.to("#point1",   {ease:Sine.easeIn, morphSVG:config.paths[4]})
		.to("#point1",   {ease:Sine.easeOut, morphSVG:config.paths[3], duration:.8})
		.to("#point1",   {ease:Sine.easeInOut, morphSVG:config.paths[0]})
	},
	beforeDestroy() {
		try{
            observer.disconnect();
        }catch(err){}
		clearInterval(interval)
		// $( window ).off('resize');
		this.anim('end');
		this.loopanim(false);
	},
	components: {
		
	},
};
</script>
<template lang="pug">
section.container.detail#detail
	.bg.abs.anim.anim-zi.bg-blue(data-t=".5" , data-d="0" , data-val="1.1" , data-ease="Sine.easeOut" , style="background:url('img/bg-color.jpg') 50% 0 / 100% auto repeat-y;")
		.abs.ie-img.splash1.splash.anim.anim-xy(data-t="1.6" , data-d="0.01" , data-fromx="-50" , data-fromy="100", data-ease="Expo.easeOut")
			img.relat(src="img/splash1.png")
		.abs.splash1-svg.anim.anim-xy(data-t="1.6" , data-d="0.01" , data-fromx="-50" , data-fromy="100", data-ease="Expo.easeOut")
			.abs.bg-blue-shadow.bg-shadow
			|<svg class="relat"  version="1.1" id="svg2" inkscape:version="0.91 r13725" sodipodi:docname="Domestic_Dromedary_silhouette.svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="30px" y="30px" viewBox="0 0 2200 2200">
			|<path id="point1" class=" st0" d="M184,435.9c35.8-21.4,76.2-28.7,113.5-27.1c46.7,2,94.5,17.5,140.3-6c22.9-11.9,41.6-32.6,58.8-53.7 c54.2-66.3,107.8-143.6,192.3-168c83.8-24.2,176.2,11.1,239,67.5c7.2,6.5,15.4,18,26.4,17c8.4-0.7,12.7-15,15.1-21.5 c18.6-50.9,15.4-64.2,17-75.4c1.5-11.2,8.6-23.8,21.4-22.2c12.7,1.6,12.5,17.7,8.3,27.9c-4.2,10.2-21.7,28.6-35.3,65.9 c-3.7,10.1-6.6,21.4-6.1,32.2c0.4,8.1,5.2,18,14.4,18.1c8.1,0.1,14.1-7.4,18-13.6c9.5-15.4,13.9-35,15.7-52.8 c2.4-23.8,19.3-35.9,34.3-33.2c13.1,2.4,23.5,14,14.7,35.4c-8.8,21.3-9.4,36.1,3.6,36.6c15,0.5,23-29.3,32.9-56.6 c49.1-134.7,37.1-127.2,43.9-159.6c3.5-16.9,13.2-32.3,29-26.5c13.7,5,3.8,28.5-6.2,45.9c-10.4,18-36.9,83.4-51.1,122.3 c-9.7,26.7,0.7,43.1,15.1,41.9c13-1.1,27.4-20.5,29-42.8c1.5-21.5,15-37.4,28.1-32.6c12.6,4.6,9.7,26.7-2.4,41.6 c-10.4,12.9-23.2,36-34.1,66.1c-9.2,25.3-17.9,62.9,5.6,64.1c21.8,1.1,39.8-48.9,54.4-89.1c14.7-40.4,17.8-60,21.8-86.7 c4.1-26.6,13-52.5,29.2-48.3c17.7,4.6,3.5,40.4-8.8,59.2c-10.6,16-24.3,49.5-34.2,76.8c-19.1,52.4-21,70-9.4,84.4 c12.4,15.3,26.4,2,31.9-13.7c4-11.4,8.9-39.1,23.4-33.8c15,5.5-6.1,31.3-12.1,48.1c-7.6,21.4-7.5,42.2,4.8,47.8 c11.9,5.4,24.1-6.2,27.2-18.9c4.3-17.7,12.8-33,24.8-28.1c10.2,4.2,12.9,14.8,0.1,35.6c-7.8,12.6-13.7,27.5-13.1,42.5 c0.8,18.2,10.9,27.9,25.1,37.4c31.1,20.8,49.4,59.3,62.7,93c18.5,46.8,32.5,92.8,64.4,132.7c67.9,84.8,159.4,150.4,265.2,195 c70,29.5,140.1,68.2,176,135.2c4,7.4,7.3,15,10.2,22.7c3.4,9.5,6,19.2,7.8,29.1c15.7,87-19.7,196.9-99.3,232.7 c-23.7,10.7-57,6-81.8,14.1c-64.6,21.1-92.7,82.9-153.4,109.1c-70.9,30.6-112.9,72.1-143.8,128.3c-5.6,10.2-10.9,20.8-16,31.9 c-7,15.5-14.4,31.1-23.9,45.3c-7.2,10.7-16.3,19.6-26.4,27.4c-10.5,8.1-18.9,13.6-24.3,26.3c-3.5,8.2-6.4,16.6-9.5,24.9 c-19,50.8-16,64.1-17.6,75.2c-1.6,11.2-8.8,23.7-21.5,22s-12.4-17.8-8-27.9c4.3-10.2,21.9-28.4,35.8-65.6c4.1-11,8.4-28.4,5.3-39.6 c-9.1,0.4-18-1.1-26.6-3.7c-11.9,13.2-18.9,42-20.8,59c-2.6,23.8-19.6,35.8-34.5,32.9c-13.1-2.5-23.4-14.2-14.5-35.5 c9-21.3,9.7-36-3.3-36.6c-15-0.6-23.2,29.1-33.3,56.3c-50.1,134.3-38.1,126.9-45.2,159.3c-3.7,16.8-13.4,32.2-29.2,26.3 c-13.7-5.1-3.6-28.5,6.6-45.8c10.6-17.9,37.6-83.1,52.1-121.9c9.9-26.6-0.3-43.1-14.8-42c-13,1-27.6,20.2-29.3,42.5 c-1.7,21.4-15.3,37.2-28.3,32.4c-12.6-4.7-9.5-26.8,2.7-41.6c10.5-12.8,23.5-35.9,34.7-65.9c5.2-13.8,9.5-29.3,9.9-44.1 c0.2-5.7,0.1-14.5-6-17.4c-20.8-10.1-36.4,20.2-43,33.7c-8.2,17-14.7,34.7-21.2,52.3c-15,40.3-18.2,59.9-22.5,86.5 c-4.3,26.6-13.4,52.4-29.6,48.1c-17.6-4.7-3.2-40.4,9.3-59.1c10.7-15.9,24.7-49.3,34.8-76.5c14.4-38.7,19.3-58.3,16.2-71.8 c-8.9,3.9-17.4,8.5-25.5,13.9c-28.3,19-51.4,47.1-82,59.4c-13.8,5.5-27.5,7.3-41,6.8c-22.3-0.9-44.5-8.5-65.4-17.3 c-52.8-22.4-107.2-55.2-152.3-100.8c-38.5-38.9-70.4-82-110.8-113.8c-32.9-25.8-68.7-43.2-109.4-54.3 c-63.8-17.5-140.7-19.7-208.2-32.5c-7.5-1.4-14.9-3.1-22.2-4.8c-28.8-7.2-57-17.8-81.3-35.3c-30.5-22.2-53.8-56.9-54.3-95.3 c-0.4-39,22.8-74.6,25.1-111.9c3.2-51.9-31.7-90.3-62.1-121.7c-30.5-31.4-63.7-70-54-118.2c8.4-42.5,49.5-75.4,65.6-116.8 c29.9-77.3-31.6-155.6-11.2-239.7C117.4,494.3,148.1,457.5,184,435.9"/>
			|</svg>
	.row.inner.relat.mx-auto
		.relat.text-center.w-100
			.gesture.anim.anim-d(data-t='.3' , data-d="0" , data-val="60" , data-ease="Circ.easeOut")
				.g1.relat(v-if="gotoLevel == 1" , key ="data.lev")
					.abs.leg
						img(src="img/lev/1-l.png")
					.bg.relat
						img(src="img/lev/1-b.png")
					.abs.hand
						img(src="img/lev/1-h.png")
				.g2.relat(v-if="gotoLevel == 2" , key ="data.lev")
					
					.bg.relat
						img(src="img/lev/2-bg.png")
					.abs.legs
						img(src="img/lev/2-legs.png")
					.abs.handr
						img(src="img/lev/2-handr.png")
					.abs.body
						img(src="img/lev/2-body.png")
					.abs.handl
						img(src="img/lev/2-handl.png")
				.g3.relat(v-if="gotoLevel == 3" , key ="data.lev")
					.bg.relat
						img(src="img/lev/3-bg.png")
					
					.abs.legr
						img(src="img/lev/3-legr.png")
					.abs.legl
						img(src="img/lev/3-legl.png")
					.abs.handr
						img(src="img/lev/3-handr.png")
					.abs.body
						img(src="img/lev/3-body.png")
					.abs.handl
						img(src="img/lev/3-handl.png")
				.relat(v-if="gotoLevel == 4" , key ="data.lev")
					.bg.relat
						img(src="img/lev/4-bg.png")
					.abs.leglu
						img(src="img/lev/4-leglu.png")
					.abs.legr
						img(src="img/lev/4-legr.png")
					.abs.body
						img(src="img/lev/4-body.png")
					.abs.legld
						img(src="img/lev/4-legld.png")
				.relat(v-if="gotoLevel == 5" , key ="data.lev")
					.bg.relat
						img(src="img/lev/5-bg.png")
					
					.abs.legr
						img(src="img/lev/5-legr.png")
					.abs.handr
						img(src="img/lev/5-handr.png")
					.abs.legl
						img(src="img/lev/5-legl.png")
					.abs.body
						img(src="img/lev/5-body.png")
					.abs.handl
						img(src="img/lev/5-handl.png")
				.relat(v-if="gotoLevel == 6" , key ="data.lev")
					.bg.relat
						img(src="img/lev/6-bg.png")
					.abs.body
						img(src="img/lev/6-body.png")
					.abs.hand
						img(src="img/lev/6-hand.png")
				.relat(v-if="gotoLevel == 7" , key ="data.lev")
					.bg.relat
						img(src="img/lev/7-bg.png")
					.abs.handr
						img(src="img/lev/7-handr.png")
					.abs.body
						img(src="img/lev/7-body.png")
					.abs.handl
						img(src="img/lev/7-handl.png")
				.relat(v-if="gotoLevel == 8" , key ="data.lev")
					.bg.relat
						img(src="img/lev/8-bg.png")
					.abs.legru
						img(src="img/lev/8-legru.png")
					.abs.legrd
						img(src="img/lev/8-legrd.png")
					.abs.leglu
						img(src="img/lev/8-leglu.png")
					.abs.legld
						img(src="img/lev/8-legld.png")
					
					.abs.body
						img(src="img/lev/8-body.png")
				.relat(v-if="gotoLevel == 9" , key ="data.lev")
					.bg.relat
						img(src="img/lev/9-bg.png")
					.abs.legru
						img(src="img/lev/9-legru.png")
					.abs.legrd
						img(src="img/lev/9-legrd.png")
					.abs.foot
						img(src="img/lev/9-foot.png")
					.abs.hands
						img(src="img/lev/9-hands.png")
					.abs.body
						img(src="img/lev/9-body.png")
				.relat(v-if="gotoLevel == 10" , key ="data.lev")
					.bg.relat
						img(src="img/lev/10-bg.png")
					.abs.handr
						img(src="img/lev/10-handr.png")
					.abs.legs
						img(src="img/lev/10-legs.png")
					.abs.handl
						img(src="img/lev/10-handl.png")
					.abs.body
						img(src="img/lev/10-body.png")
				.relat(v-if="gotoLevel == 11" , key ="data.lev")
					.abs.handr
						img(src="img/lev/11-handr.png")
					.abs.leg
						img(src="img/lev/11-leg.png")
					.abs.handl
						img(src="img/lev/11-handl.png")
					.bg.relat
						img(src="img/lev/11-bg.png")
				.relat(v-if="gotoLevel == 12" , key ="data.lev")
					.bg.relat
						img(src="img/lev/12-bg.png")
					.abs.legl
						img(src="img/lev/12-legl.png")
					.abs.legr
						img(src="img/lev/12-legr.png")
					.abs.body
						img(src="img/lev/12-body.png")
				.relat(v-if="gotoLevel == 13" , key ="data.lev")
					.abs.legl
						img(src="img/lev/13-legl.png")
					.bg.relat
						img(src="img/lev/13-bg.png")
					.abs.legr
						img(src="img/lev/13-legr.png")
				.relat(v-if="gotoLevel == 14" , key ="data.lev")
					.bg.relat
						img(src="img/lev/14-bg.png")
					.abs.legl
						img(src="img/lev/14-legl.png")
					.abs.handl
						img(src="img/lev/14-handl.png")

					.abs.legl
						img(src="img/lev/14-legl.png")
					.abs.legru
						img(src="img/lev/14-legru.png")
					.abs.legrd
						img(src="img/lev/14-legrd.png")
					
					.abs.body
						img(src="img/lev/14-body.png")
					.abs.handr
						img(src="img/lev/14-handr.png")

				.relat(v-if="gotoLevel == 15" , key ="data.lev")
					.bg.relat
						img(src="img/lev/15-bg.png")
					.abs.body
						img(src="img/lev/15-body.png")
					.abs.legs
						img(src="img/lev/15-legs.png")
				.relat(v-if="gotoLevel == 16" , key ="data.lev")
					.abs.legu
						img(src="img/lev/16-legu.png")
					.bg.relat
						img(src="img/lev/16-bg.png")
					
					.abs.legd
						img(src="img/lev/16-legd.png")


				.relat(v-if="gotoLevel == 17" , key ="data.lev")
					.bg.relat
						img(src="img/lev/17-bg.png")
					.abs.legl
						img(src="img/lev/17-legl.png")
					.abs.legr
						img(src="img/lev/17-legr.png")
					.abs.body
						img(src="img/lev/17-body.png")
					.abs.hand
						img(src="img/lev/17-hand.png")
				.relat(v-if="gotoLevel == 18" , key ="data.lev")
					.bg.relat
						img(src="img/lev/18-bg.png")
					.abs.handl
						img(src="img/lev/18-handl.png")
					
					.abs.body
						img(src="img/lev/18-body.png")
					.abs.handr
						img(src="img/lev/18-handr.png")

			.darkblue.h4.eng.level.bold.anim.anim-d(data-t='.3' , data-d=".1" , data-val="60" , data-ease="Circ.easeOut")
				p LEVEL . {{data.lev}}
			.tit.relat.mx-auto.daty9.anim.anim-d(data-t='.3' , data-d=".1" , data-val="60" , data-ease="Circ.easeOut")
				.abs.darkblue.bold.display-3.sha {{data.name}}
				.relat.yellow.bold.display-3 {{data.name}}

			.row.w-100.justify-content-center.mt-4.mx-auto.px-0.anim.anim-d(data-t='.3' , data-d=".2" , data-val="60" , data-ease="Circ.easeOut")
				.col-auto.item.px-0.mx-2(v-for="g in data.steps")
					.part
						.h4.darkblue.bold {{g.part}}
					.num
						.display-3.eng.yellow 
							.small {{g.num}}
				
				
			.btns.row.justify-content-center.mt-5.pt-1.anim.anim-d(data-t='.3' , data-d=".3" , data-val="60" , data-ease="Circ.easeOut")
				.col-auto.btn.relat
					.bg.bg-blue.d2
					.bg.bg-yellow
					.t.display-5.blue.relat.daty9.anim.anim-d(data-t='.3' , data-d=".3" , data-val="30" , data-ease="Circ.easeOut")
							.small.bold 我已成功挑戰

</template>
<style lang="less" scoped>

</style>

