@import "/base/config.less";
@import "/base/mixin.less";
@import "/base/common.less";
////////////
//*MOBILE*//
////////////
html{
    // height:100%;

}
html,
body {
    .relat;
    width:100%;
    min-width:750px;
    height:100%;
    font-family: @fontfamily;
    overflow:hidden;
    background:#110949;
}
body{
    // height:auto;
    // margin: 0 auto;
    // overflow:hidden;
}
a {

    &:link,
    &:hover,
    &:active,
    &:visited ,&:focus{
        text-decoration:none;
    }
}
p {
    margin: 0;
}
.transp {
    opacity: 0
}
.inv , .hidden{
    display: none;
}
.pointer{
    cursor: pointer;
}
.btn-j,
.btn,
.butn,
.btn-close {
    cursor: pointer;
}

.classJ.clearb {
    clear: both;
}



nav.navbar{
    z-index:12;
   .fix;
    width:750px;
    background: none;
    left:calc(~'50% - 375px');
    

    padding:0;
    button{
        
    }

    
    
}



.blkmask{
    width:100%;
    height:100%;
    .bg-black;
    opacity:1;
    top:0;
    z-index:2;
}
.wrapper {
    
}
main{
    background:#131b6b;
    .relat;
    margin:0 auto;
    width:100%;
    max-width:750px;
    overflow: hidden;
}
.footer {
    .black;
    
}

.preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -1px;
    top: -1px;
}

.app{
    width:100%;
    max-width:750px;
    overflow:hidden;
    .relat;
    background:none;
    left:calc(~"50% - 375px");
    .app_c{.drop-shadow (5px, 0px, 10px,0, @alpha: 0.15);}
}

.btn-side{
    .fix;
    right:calc(~"50% - 375px");
    top:calc(~"50vh - 144px");
    padding:0;
    z-index:999;
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
{
    opacity: 0;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s;
}

.slide-fade-enter,
.slide-fade-leave-to
{
    transform: translateY(30px);
    opacity: 0;
}


.slide-fade-select-enter-active {
    transition: all .2s ease;
}

.slide-fade-select-leave-active {
    // transition: all .1s ease;
}

.slide-fade-select-enter
{
    transform: translateX(30px);
    opacity: 0;
}
.slide-fade-select-leave-to
{
    // transform: translateX(0px);
    // opacity: 0;
}

.slide-fade-g-enter-active {
    // transition: all .2s ease;
}

.slide-fade-g-leave-active {
    transition: all .1s ease;
}

.slide-fade-g-enter
{
    // transform: translateX(0px);
    // opacity: 0;
}
.slide-fade-g-leave-to
{
    transform: translateX(-30px);
    opacity: 0;
}
@import "/components/main.less";
@import "/components/daterangepicker.less";


