<script>
// import { TweenMax ,Linear ,Sine , Expo, Back} from 'gsap';
import { mapActions, mapMutations,mapGetters } from 'vuex';

// import  axios  from 'axios';
import { config } from '@/util/config';
import {jquery} from 'jquery';
import { imagesloaded } from 'imagesloaded';
import utils from '@/util/utils';
import KvDetail from '@/component/KvDetail';
import device from "current-device";
let $ = require('jquery');
let imagesLoaded = require('imagesloaded');
let self;
const  bodyscrollTo = (top)=>{
    let $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
    const speed = 5;
    let t = 500;
    console.log(`scroll to.... ${top}`)
    $body.animate({
        scrollTop: top
    }, t );
}
export default {
	data() {
		return {
			otop:0,
		}
	},
	computed: {
		...mapGetters(['loaded' ]),
	},
	watch: {

		loaded:function(value){
			console.log(`loaded ....${value}.....${this.$route.name}`)
			let self = this;
			let name =this.$route.name
			if(value==1){
				setTimeout( function(){
					self.loading(false);self.resize();
				}, 100)
				// this.scrollToHash({name:name})
				self.bind();
			}
		}
	},
	methods:{
		...mapActions(['loading' ]),

		scrollToHash(to){
			switch( to.name){
          		case 'index':
            		{
            		}
          		break
    		}
		},
		clickEffect(target , cb){
		},
		bind(){
		},
		loopanim(act){
			let dom = $('main');
			let max = 20
			let repeatcount = 0
		},
		anim(act){
			
		},

		scrollhandle(){
			// let top = $(window).scrollTop();
			// this.$store.state.bodyTop = top;
			// if(top>100){
			// 	$('.scrollhint').fadeOut(500);
			// }else{
			// 	$('.scrollhint').fadeIn(500);
			// }
			// this.otop = top;
		},
		resize(){
			let vh = Number(utils.getBrowserHeight()) ;
			let vw = Number(utils.getBrowserWidth()) ;
			let target = 1500;

			if(device.desktop()){
				let s =  vh/target;
				let ver = utils.chkIEver();
				if(ver =='IE'){
					$('nav , .footer , .pop  , .loading , .pop').css("position", 'absolute')
				}
				TweenMax.to($('.app') , .3,   { scaleX:s , scaleY:s , transformOrigin:"50% 0"});
				$('body').css('height' , vh);
				$('.app .inner').css('padding-top' , (1500-1100)/2 )
				// $('.btn-side').css('right' , 'calc(50% - 307px)')
			}else{
				$('.app .inner').css("min-height" ,"auto")

				TweenMax.to($('.footer') , .3,   { scaleX:1 , scaleY:1 , transformOrigin:"50% 100%"});
				if((vh) < 1150&& (vh>vw)){
					let s = (vh) / 1150;
					
					TweenMax.to($('.app .inner') , .3,   { scaleX:s , scaleY:s , transformOrigin:"50% 0"});
					
					$('.app .inner').css('padding-top' ,50 )
				}else{
					$('.app .inner').css('padding-top' , (vh-1100)/2  )
				}
			}
		}
	},
	beforeCreate(){
		self = this;
		console.log(`beforeCreate`);
	},
	beforeMount(){
		self = this;
		console.log(`beforeMount`);

		this.$store.state.loaded =0;
		// self.loading(true);
	},
	mounted(){
		self = this;
		$(window).resize(self.resize);
		window.onscroll = self.scrollhandle;
		self.scrollhandle()
	},
	beforeDestroy() {
		$( window ).off('resize');
		self.loopanim(false);
		self.anim('end');
		self.loading(true)
	},
	components: {
		KvDetail ,
	},
};


</script>
<template lang="pug">
.wrapper.relat
	KvDetail
	//- KvForm
</template>
<style lang="less">
// @import "../css/components/main.less";
</style>
