@font-face {
  font-family: 'Helvetica_EXP';
  
  src:
    url('../../font/Helvetica_EXP.eot?#font-spider') format('embedded-opentype'),
    url('../../font/Helvetica_EXP.woff') format('woff'),
    url('../../font/Helvetica_EXP.ttf') format('truetype');
   
  font-weight: normal;
  font-style: normal;
}